/* for hotel-page */

.hotel-services-container {
    background-color: var(--theme-second);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 120px;
}

.hotel__address {

}

.hotel__contacts {

}

.hotel__links {

}