/* for hotel page */

.excursion-path-container {
    background-color: var(--theme-second);
}

.excursion-path__list-item {
    display: inline;
}

.excursion-path__list-item span {
    font-family: "Merriweather";
    opacity: 0.7;
    color: var(--text-color);
}

.excursion-path__list-item span::before {
    content: "/";
    padding-right: 0.3rem;
    
}
