.tags-orange { background-color: #ff931e !important; }
.tags-blue { background-color: #2351c5 !important; }
.tags-pink { background-color: #c523c3 !important; }
.tags-red { background-color: #c5236a !important; }
.tags-green { background-color: #23c5ba !important; }
.tags-brown { background-color: brown !important; }
.tags-coral {background-color: coral !important; }