$imgPath: '../img/';

$fontFamilyMain: 'Rubik';
$fontFamilyText: 'Merriweather';

$globalMarginLeft: 63px;
$globalMarginRight: 63px;

$globalPaddingLeft: 63px;
$globalPaddingRight: 63px;

$globalTransition: 0.3s ease;