.button {
    box-shadow: none;
    border: 2px solid #007aff;
    border-radius: 4px;
    font-family: $fontFamilyMain;
    width: 150px;
    height: 48px;
    padding: 3px 8px;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    background: black;
    color: #007aff;
}

.button:active {
    color: rgb(255,255,255);
    border-color: #38c2ac;
    background-image: linear-gradient(#38c2ac, #6aa2ce);
    box-shadow: none;
}




.btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
}
  
.success {background-color: #04AA6D;} /* Green */
.success:hover {background-color: #46a049;}

.info {background-color: #2196F3;} /* Blue */
.info:hover {background: #0b7dda;}

.warning {background-color: #ff9800;} /* Orange */
.warning:hover {background: #e68a00;}

.danger {background-color: #f44336;} /* Red */
.danger:hover {background: #da190b;}

.default {background-color: #e7e7e7; color: black;} /* Gray */
.default:hover {background: #ddd;}





