.content-block__container {
    display: flex;
    
}

.content-block__description {
    flex: 0 0 66.66%;
    box-sizing: border-box;
    background-color: black;
}

.content-block__info {
    flex: 0 0 33.33%;
    box-sizing: border-box;
    background-color: black;
}

@media (width <= 576px) {
    .content-block__container {
        display: block;
    }
}