// margin 2px
.m-2   { margin: 2px; }
.m-t-2 { margin-top: 2px; }
.m-l-2 { margin-left: 2px; }
.m-r-2 { margin-right: 2px; }
.m-b-2 { margin-bottom: 2px; }

// margin 16px
.m-16   { margin: 16px; }
.m-t-16 { margin-top: 16px; }
.m-b-16 { margin-bottom: 16px; }

// margin 20px
.m-20   { margin: 20px; }
.m-t-20 { margin-top: 20px; }
.m-b-20 { margin-bottom: 20px; }

// margin 40px
.m-t-40 { margin-top: 40px; }
.m-b-40 { margin-bottom: 40px; }

// margin 63px
.m-63   { margin: 63px; }
.m-t-63 { margin-top: 63px; }
.m-l-63 { margin-left: 63px; }
.m-r-63 { margin-right: 63px; }
.m-b-63 { margin-bottom: 63px; }