/* for hotels page */
.excursions-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 10px;
}

.excursions-card-elem {
  height: 400px;
  position: relative;
  cursor: pointer;
}
.excursions-card-elem .excursions-card-elem__img_wrap {
  transition: all 0.3s;
  filter: brightness(40%);
}

.excursions-card-elem:hover .excursions-card-elem__img_wrap {
  transition: all 0.3s;
  filter: brightness(100%);
}

.excursions-card-elem__img_wrap {
  height: 320px;
}
.excursions-card-elem__img_wrap .excursions-card-elem__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.excursions-card-elem__img_wrap a:hover {
  opacity: 1;
}

.excursions-card-elem__type {
  position: absolute;
  background-color: #ff931e;
  top: 25px;
  padding: 6px;
  border-radius: 0 4px 4px 0;
}
.excursions-card-elem__type p {
  color: white;
}

.excursions-card-elem__price {
  position: absolute;
  background-color: #ff931e;
  bottom: 80px;
  right: 0;
  padding: 2px;
  border-radius: 0 0px 0px 0;
}
.excursions-card-elem__price p {
  color: white;
}

.excursions-card-elem__header_wrap .excursions-card-elem__header {
  font-size: 20px;
  line-height: 24px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

@media (width <= 1265px) {
  .excursions-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (width <= 865px) {
  .excursions-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (width <= 524px) {
  .excursions-cards-container {
    grid-template-columns: 1fr;
  }
}
.excursions-cards_wrap {
  display: flex;
}

.excursions-filters {
  width: 24%;
}

.excursions-cards {
  width: 76%;
}

.excursions-filters-container {
  justify-content: space-between;
  align-items: flex-start;
}

.excursions-form__select {
  padding: 0 16px;
  min-width: 170px;
  height: 47px;
  font-family: "Rubik";
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  margin: 2px 0;
}
input[type=text] {
  transition: all 0.2s linear;
  padding: 12px 20px;
  height: 36px;
  font-family: "Rubik";
  border-radius: 4px;
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #4CAF50;
}

input[type=checkbox], input[type=radio] {
  transform: scale(1.3);
}

.btn-excursions {
  background: #4CAF50;
  transition: all 0.2s linear;
  padding: 0px 20px;
  height: 36px;
  font-family: "Rubik";
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
}

.btn-excursions:hover {
  opacity: 0.7;
}

@media (width <= 1086px) {
  .excursions-cards_wrap {
    flex-direction: column;
  }
  .excursions-filters {
    width: 100%;
  }
  .excursions-cards {
    width: 100%;
  }
  .excursions-form__options_wrap {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (width <= 865px) {
  .excursions-filters-container {
    flex-direction: column;
  }
  .excursions-filters__options {
    width: 100%;
  }
  /*.excursions-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }*/
}
.excursions-path-container {
  background-color: var(--theme-second);
}

.excursions-path__list-item {
  display: inline;
}

.excursions-path__list-item span {
  font-family: "Merriweather";
  opacity: 0.7;
  color: var(--text-color);
}

.excursions-path__list-item span::before {
  content: "/";
  padding-right: 0.3rem;
}/*# sourceMappingURL=index.css.map */