/* footer for all pages */

.footer-container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--theme-fourth);
}

.footer-container > div {
    flex: 1 1 auto;
}

@media (width <= 1050px) {
    .footer-container {
        display: none;
    }
}