/* for header in all pages */

.header-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--theme-main);
    transition: all 0.3s ease-in-out;
    height: 150px;
}


@media (width <= 1050px) {
    .header {
        position: sticky;
        z-index: 2;
        top: 0;
    }

    .header-container {
        height: 110px;
    }

}
