/* for header in all pages */

.header-nav__wrap { 
    order: 2; 
}

.header-nav {
    ul { }
    li { display: inline; margin: 10px; }
}

.header-nav__link { 
    font-family: 'Rubik'; 
}

@media (width <= 1050px) {
    .header-nav__wrap {
        display: none;
    }
}