/* for hotels page */

.hotels-filters-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.hotels-form {
    display: flex;
}

.hotels-form__select {
    //padding: 14px 28px;
    padding: 0 16px;
    min-width: 170px;
    height: 47px;
    font-family: 'Rubik';
    //border: 1px solid black;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    margin: 2px 0;

    .hotels-form__option {

    }

}

.btn-hotels {
  background: #4CAF50;
  
  //color: dodgerblue;
  transition: all 0.2s linear;
  padding: 0px 20px;
  height: 36px;
  font-family: "Rubik";
  border-radius: 4px;

  
}

.btn-hotels:hover {
  opacity: 0.7;
}


@media (width <= 1265px) {
  
}

@media (width <= 865px) {
  .hotels-filters-container {
    flex-direction: column;
  }
  .hotels-filters__options {
    width: 100%;
  }
  .hotels-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hotels-form__button_wrap {
    display: flex;
    //justify-content: space-between;
  }
  .hotels-form__select {

  }

}

@media (width <= 524px) {
  

}