/* for index page */

.index-grid {
    background-color: var(--theme-main);
    transition: 0.3s ease;;
}

.index-grid-container {
    display: flex;
    background-color: var(--theme-main);
    transition: 0.3s ease;;
}

.index-grid__col_1 {
    flex: 1 1 65%;
}

.index-grid__col_2 {
    flex: 1 1 32%;
    width: 30%;
    padding-bottom: 3px;
}

@media (width <= 912px) {
    .index-grid-container {
        flex-direction: column;
    }

    .index-grid__col_1 {
        width: 100%;
        padding-right: 0;
    }

    .index-grid__col_2 {
        width: 100%;
        padding-left: 0;
        display: none;
    }
}

/*
index-grid
index-grid-container
index-grid__col_1
index-grid__col_2

index-grid__video-container
index-grid__video-content

index-grid__swiper
index-grid__swiper-slide_text
*/