/* for index page */

.index-news {
    transition: 0.3s ease;
}

.index-news__header {
    
}

.index-news__header h2 {
    background-color: var(--theme-second);
    transition: 0.3s ease;
}


/*
index-news
index-news__header

index-news__swiper-container
index-news__swiper
index-news__swiper-slide

index-news__card
index-news__card_content
index-news__card_img
index-news__card_title
index-news__card_text

index-news__button-prev
index-news__button-next
*/