/* for index page */

.index-grid__video-container {
    position: relative;
}

#index-video {
    width: 100%;
}

.index-grid__video-content {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
    bottom: 30px;
    left: 10px;

    h3 {
        padding: 2px;
        color: white;
    }

    p {
        padding: 4px 2px 4px 2px;
        color: white;
    }
}
