/* for index page */

.index-hotels {
    transition: 0.3s ease;
}

.index-hotels__header h2 {
  background-color: var(--theme-second);
  transition: 0.3s ease;
}

.index-hotels__swiper-container {
    position: relative;
    height: 230px;
    color: #000;
    
}

.index-hotels__swiper,
.index-food__swiper,
.index-look__swiper
{
    width: 100%;
    height: 100%;
}

.index-hotels__swiper-slide {
    text-align: center;
    font-size: 18px;
    //background:  var(--theme-background); //#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    a {
      width: 100%;
      height: 100%;
      
    }
    a:hover {
        opacity: 1;
    }
}

/* card */
.index-hotel__card-wrap {
    height: 100%;
    position: relative;
}

.index-hotels__card {
  position: relative;

  width: 100%;
  height: 100%;
  :hover {
    opacity: 0.5;
  }
}

.index-hotels__card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    //filter: brightness(70%);
}

.index-hotels__card_content {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background:  var(--theme-second);
    height: 48px;
    opacity: 0.95;
    display: flex;
    align-items: center;
    justify-content: center;
}



.index-hotels__card_title {
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 3;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
}


