/* index head */ /* for index page */
.index-grid {
  background-color: var(--theme-main);
  transition: 0.3s ease;
}

.index-grid-container {
  display: flex;
  background-color: var(--theme-main);
  transition: 0.3s ease;
}

.index-grid__col_1 {
  flex: 1 1 65%;
}

.index-grid__col_2 {
  flex: 1 1 32%;
  width: 30%;
  padding-bottom: 3px;
}

/*
@media (width <= 912px) {
    .index-grid-container {
        flex-direction: column;
    }

    .index-grid__col_1 {
        width: 100%;
        padding-right: 0;
    }

    .index-grid__col_2 {
        width: 100%;
        padding-left: 0;
    }
}*/
@media (width <= 768px) {
  .index-grid-container {
    flex-direction: column;
  }
  .index-grid__col_1 {
    width: 100%;
    padding-right: 0;
  }
  .index-grid__col_2 {
    width: 100%;
    padding-left: 0;
  }
}
/*
@media (min-width: 768px) {
    .index-grid-container { flex-direction: column; }
    .index-grid__col_1 { width: 100%; padding-right: 0; }
    .index-grid__col_2 { width: 100%; padding-left: 0;  }
}
*/
/*
375
@media (min-width: 768px)
@media (min-width: 992px)
@media (min-width: 1200px)
*/
/*
index-grid
index-grid-container
index-grid__col_1
index-grid__col_2

index-grid__video-container
index-grid__video-content

index-grid__swiper
index-grid__swiper-slide_text
*/
/* for index page */
.index-grid__swiper {
  width: 100%;
  height: 100%;
}

.index-grid__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-grid__swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-grid__swiper-slide_text {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  padding: 2px;
  color: white;
  padding: 4px 4px 4px 4px;
  color: white;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: 0.5s ease;
}

.index-grid__swiper-slide:hover .index-grid__swiper-slide_text {
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

@media (width <= 768px) {
  .index-grid__swiper {
    height: 350px;
  }
}
@media (width <= 576px) {
  .index-grid__swiper {
    height: 250px;
  }
}
@media (width <= 375px) {
  .index-grid__swiper {
    height: 140px;
  }
}
/* for index page */
.index-grid__video-container {
  position: relative;
}

#index-video {
  width: 100%;
}

.index-grid__video-content {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  bottom: 30px;
  left: 10px;
}
.index-grid__video-content h3 {
  padding: 2px;
  color: white;
}
.index-grid__video-content p {
  padding: 4px 2px 4px 2px;
  color: white;
}

@media (width <= 576px) {
  .index-grid__video-content {
    bottom: 5px;
    left: 2px;
  }
  .index-grid__video-content p {
    padding: 1px;
    font-size: 12px;
  }
  .index-grid__video-content h3 {
    padding: 1px;
    font-size: 15px;
  }
}
@media (width <= 375px) {
  .index-grid__video-content {
    display: none;
  }
}
/* index news */
/* for index page */
.index-news {
  transition: 0.3s ease;
}

.index-news__header h2 {
  background-color: var(--theme-second);
  transition: 0.3s ease;
}

/*
index-news
index-news__header

index-news__swiper-container
index-news__swiper
index-news__swiper-slide

index-news__card
index-news__card_content
index-news__card_img
index-news__card_title
index-news__card_text

index-news__button-prev
index-news__button-next
*/
/* for index page */
.index-news__swiper-container {
  position: relative;
  height: 300px;
  margin: 0;
}

.index-news__swiper {
  width: 100%;
  height: 100%;
}

.index-news__swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.index-news__swiper-slide_link:hover {
  opacity: 1;
}

.index-news__card_img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-news__card_content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  right: 10px;
  left: 10px;
  bottom: 10px;
  text-align: right;
  cursor: pointer;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.index-news__card_title {
  color: white;
  padding-right: 8px;
}

.index-news__card_text {
  color: white;
}

.index-news__swiper-slide:hover {
  opacity: 0.7;
  transition: 0.5s all;
}

.index-news__card_title {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

/*
index-news
index-news__header

index-news__swiper-container
index-news__swiper
index-news__swiper-slide

index-news__swiper-slide_link
index-news__card
index-news__card_content
index-news__card_img
index-news__card_title
index-news__card_text
*/
/* index hotels */
/* for index page */
.index-hotels__header h2 {
  background-color: var(--theme-second);
  transition: 0.3s ease;
}

.index-hotels__swiper-container {
  position: relative;
  height: 270px;
  color: #000;
}

.index-hotels__swiper,
.index-food__swiper,
.index-look__swiper {
  width: 100%;
  height: 100%;
}

.index-hotels__swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--theme-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-hotels__swiper-slide a {
  width: 100%;
  height: 100%;
}

/* card */
.index-hotel__card-wrap {
  height: 100%;
}

.index-hotels__card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 70%;
}

.index-hotels__card_img {
  /*display: block;

  width: 100%;
  height: 100%;
  object-fit: cover;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-hotels__card_content {
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-hotels__card_title {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

/* buttons */
.index-news__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.next-prev {
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.next-prev img {
  width: 100%;
  height: 100%;
}

.next-prev:hover img {
  opacity: 0.5;
}

.next-prev:active {
  background-color: #2196F3;
}

#keyboard-arrow-left, #keyboard-arrow-right {
  fill: var(--text-color);
}

/* modal */
/* for index page */
.index-modal-container {
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.index-modal__content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.index-modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.index-modal__close:hover, .index-modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */