<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="logo"><img class="img__logo" src="{% static 'img/logo.png' %}" alt="logo" /></div>
        <div><p>PROJECT</p></div>
        <div class="">
            <div class="socials">
                <ul class="socials__list">
                    <li class="socials__list-item"><img src="{% static 'img/ok.png' %}" alt=""></li>
                    <li class="socials__list-item"><img src="{% static 'img/tg.png' %}" alt=""></li>
                    <li class="socials__list-item"><img src="{% static 'img/vk.png' %}" alt=""></li>
                </ul>
            </div>
            <button class="button button-primary">Напишите нам</button>
        </div>
    </header>
    <main class="main">
        <section class="main-title">
            <div class="main-title__blur"></div>
            <div class="main-title__container">
                <h1 class="m-b-16">Исследуй Красноярск с нами!</h1>
                <p class="m-b-16">KrasTours — это Красноярская туристическая компания, 
                    предлагающая уникальные впечатления от города. 
                    От лодочных экскурсий до велосипедных прогулок — откройте 
                    для себя лучшее в Красноярске с KrasTours.</p>

                <button class="button button-primary">Контакты</button>
            </div>
        </section>
        <section class="gallery p-r-63 p-l-63 p-t-63 p-b-63">
            <h2 class="m-b-40">Галерея изображений</h2>
            <div class="gallery-carousel ">
                <div class="gallery-carousel__item1">
                    <span><img src="{% static 'img/gallery/img1.jpg' %}" alt="" /></span>
                </div>

                
                <div class="gallery-carousel__item2">
                    <span><img src="{% static 'img/gallery/img2.jpg' %}" alt="" /></span>
                </div>
                <div class="gallery-carousel__item3">
                    <span><img src="{% static 'img/gallery/img3.jpg' %}" alt="" /></span>
                </div>
                <div class="gallery-carousel__item4">
                    <span><img src="{% static 'img/gallery/img4.jpg' %}" alt="" /></span>
                </div>
                <div class="gallery-carousel__item5">
                    <span><img src="{% static 'img/gallery/img5.jpg' %}" alt="" /></span>
                </div>
                <div class="gallery-carousel__item6">
                    <span><img src="{% static 'img/gallery/img6.jpg' %}" alt="" /></span>
                </div>

                
            </div>
        </section>

        <section class="reviews p-t-63 p-b-63">
            <div class="reviews-container m-r-63 m-l-63">
                <h4>
                    KrasTours в качестве нашего гида в Красноярске было таким 
                    замечательным опытом! Они были очень хорошо осведомлены и дружелюбны 
                    и провели для нас всестороннюю экскурсию по городу. 
                    Настоятельно рекомендую KrasTours для любого тура по Красноярску!
                </h4>
                <h5 class="m-16">- Алексей, Томск</h5>
            </div>
        </section>

        <section class="services p-t-63 p-b-63">
            <h2 class="text-center m-b-40">Наши услуги</h2>

            <div class="services-container m-r-63 m-l-63">
                <div class="services-container__item">
                    <div class="services-container__imgwrap ">
                        <span>
                            <img class="services-container__img" src="{% static 'img/services/img1.jpg' %}" alt="" />
                        </span>
                    </div>
                    <div class="services-container__txtwrap text-center">
                        <h4>Пешеходная экскурсия по городу</h4>
                        <p>Экскурсия с гидом по городу, посвященная его 
                            основным достопримечательностям, достопримечательностям 
                            и культурным объектам.
                        </p>
                        <button class="button button-primary">Смотреть</button>
                    </div>
                </div>

                <div class="services-container__item">
                    <div class="services-container__imgwrap">
                        <span>
                            <img class="services-container__img" src="{% static 'img/services/img2.png' %}" alt="" />
                        </span>
                    </div>
                    <div class="services-container__txtwrap text-center">
                        <h4>Культурный тур</h4>
                        <p>Экскурсия с гидом по городу, 
                            посвященная культурному наследию, 
                            включая историю, искусство и архитектуру.
                        </p>
                        <button class="button button-primary">Смотреть</button>
                    </div>
                </div>

                <div class="services-container__item">
                    <div class="services-container__imgwrap">
                        <span>
                            <img class="services-container__img" src="{% static 'img/services/img3.jpg' %}" alt="" />
                        </span>
                    </div>
                    <div class="services-container__txtwrap text-center">
                        <h4>Природная экскурсия</h4>
                        <p>Экскурсия с гидом, которая включает в себя такие мероприятия, 
                            как треккинг, спелеология, рафтинг и другие виды спорта 
                            на открытом воздухе, изучение местной окружающей 
                            среды и дикой природы.
                        </p>
                        <button class="button button-primary">Смотреть</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="location p-t-63 p-b-63">
            <div class="location-container">
                <div>
                    <h5>Krasnoyarsk</h5>
                    <p>Vzletka</p>
                </div>
                <div>
                    <span><img src="{% static 'img/location.png' %}" alt=""/></span>
                </div>
            </div>
        </section>

        <section class="contactus">
            <div class="contactus-container">
                <div>
                    <h4>Связаться с нами</h4>
                    <p>Есть вопрос или комментарий? Свяжитесь с KrasTour, 
                        чтобы связаться с дружелюбным гидом, который может помочь.
                    </p>
                </div>

                <div class="form-container">
                    <form action="">
                  
                      <label for="fname">First Name</label>
                      <input type="text" id="fname" name="firstname" placeholder="Your name..">
                  
                      <label for="lname">Last Name</label>
                      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                  
                  
                      <label for="subject">Message</label>
                      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                  
                      <input type="submit" value="Submit">
                  
                    </form>
                  </div>
            </div>
        </section>

        <section class="aboutus p-t-63 p-b-63">
            <div class="aboutus-container m-r-63 m-l-63">
                <h3 class="text-center">Про нас</h3>
                <p>Мы рады представить вам KrasTours, нашу компанию гидов, 
                    расположенную в Красноярске! Мы предлагаем частные, индивидуальные 
                    туры по прекрасному городу, уделяя особое внимание истории, 
                    культуре и современным достопримечательностям Красноярска. Наши 
                    опытные гиды покажут вам достопримечательности и звуки Красноярска, 
                    а также предоставят вам глубокое понимание истории города.
                </p>
                <p>
                    Если вы ищете уникальный способ исследовать Красноярск, то KrasTours — 
                    идеальный выбор. Мы предлагаем различные туристические пакеты, 
                    от пешеходных до велосипедных туров, поэтому вы можете 
                    выбрать то, что лучше всего соответствует вашим потребностям. 
                    Наши опытные гиды проведут вас по всем достопримечательностям Красноярска, 
                    а также расскажут об уникальной культуре и истории города. 
                    Так что присоединяйтесь к нам и исследуйте удивительный город 
                    Красноярск вместе с KrasTours!</p>
            </div>
        </section>

        
    </main>
    <footer class="footer">
        {% block footer %}
        <div class="footer-container">
            <div class="logo"><img class="img__logo" src="{% static 'img/logo.png' %}" alt="logo" /></div>
            <div>
                <h3>Что делать</h3>
                <nav>
                    <a href="#">Где остановиться</a>
                    <a href="#">Где поесть</a>
                    <a href="#">Как отдохнуть</a>
                    <a href="#">Что посмотреть</a>
                </nav>
            </div>

            <div>
                <h3>Навигатор</h3>
                <nav>
                    <a href="#">Контакты</a>
                    <a href="#">О Красноярске</a>
                    <a href="#">Новости</a>
                </nav>
            </div>

            <div>
                <h3>О нас</h3>
                <nav>
                    <a href="#">Телефоны</a>
                    <a href="#">e-mail</a>
                    
                </nav>
            </div>
        </div>
        {% endblock %}
    </footer>
</body>
</html>