{% block footer %}
<div class="footer-container">
    <div class="logo"><img class="img__logo" src="{% static 'img/logo.png' %}" alt="logo" /></div>
    <div>
        <h3>Что делать</h3>
        <nav>
            <a href="#">Где остановиться</a>
            <a href="#">Где поесть</a>
            <a href="#">Как отдохнуть</a>
            <a href="#">Что посмотреть</a>
        </nav>
    </div>

    <div>
        <h3>Навигатор</h3>
        <nav>
            <a href="#">Контакты</a>
            <a href="#">О Красноярске</a>
            <a href="#">Новости</a>
        </nav>
    </div>

    <div>
        <h3>О нас</h3>
        <nav>
            <a href="#">Телефоны</a>
            <a href="#">e-mail</a>
            
        </nav>
    </div>
</div>

{% endblock %}