{% extends 'main/base.html' %}
{% load static %}


{% block main %} 
<main>
    <section class="hotel-path">
        <div class="hotel-path-container p-l-63 p-r-63 p-t-20 p-b-20">
            <ul class="hotel-path__list">
                <li class="hotel-path__list-item"><a href="/">Главная страница</a></li>
                <li class="hotel-path__list-item"><a href="/hotels"><span class="opacity-1">Рубрика: Где остановиться</span></a></li>
                <li class="hotel-path__list-item"><span>{{ hotel_page.title }}</span></li>
            </ul>
        </div>
    </section>

    <section class="hotel_card-content">
        <div class="hotel_card-content-container p-l-63 p-r-63 p-t-20 p-b-20">
            <div class="hotel_card__header"><h1>{{ hotel_page.title }}</h1></div>
        </div>
    </section>

    <section class="hotel-swiper">
        <div class="hotel-swiper-container p-l-63 p-r-63 p-t-20 p-b-20">
            <div class="swiper hotel_swiper">
                <div class="swiper-wrapper">
                    {% for img in hotel_page.hotel_images.all %}
                    <div class="swiper-slide hotel-swiper-slide"><img src="{{ img.getUrl.url }}" alt="" /></div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next swiper-button__hotel"></div>
                <div class="swiper-button-prev swiper-button__hotel"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>

    <section class="hotel-description">
        <div class="hotel-description p-l-63 p-r-63 p-t-20 p-b-20">
            <p>{{ hotel_page.description|safe }}</p>
        </div>
    </section>

    <section class="hotel-services">
        <div class="hotel-services-container p-l-63 p-r-63 p-t-20 p-b-20">
            <div class="hotel__address">
                <h4>Адреса</h4>
                <p>{{ hotel_page.address }}</p>
            </div>
            <div class="hotel__contacts">
                <h4>Контакты</h4>
                <p>{{ hotel_page.contacts }}</p>
                
            </div>
            <div class="hotel__links">
                <h4>Ссылки</h4>
                <a href="{{ hotel_page.link }}">{{ hotel_page.link }}</a>
            </div>
        </div>
    </section>

    <section class="hotel-map">
        <div class="hotel-map-container  p-t-20 p-b-20">
            <div id="HotelMap"></div>
        </div>
    </section>


    
</main>
<hr />
{% endblock %}

{% block script %} 
    <script src="{% static 'js/lib.swiper.min.js' %}"></script>
    <script src="{% static 'js/_swiper-hotel.js' %}"></script>
    <script>
        
        ymaps.ready(init);

        function init() {
            let coordX = Number( {{ hotel_page.getCoordinates.pointX }} );
            let coordY = Number( {{ hotel_page.getCoordinates.pointY }} );
            let title = '{{ hotel_page.title }}';
            let link = '{{ hotel_page.link }}';

            let hotelMap = new ymaps.Map('HotelMap', {
                center: [coordX, coordY],
            
                zoom: 13
            }, {
                searchControlProvider: 'yandex#search'
            });

            hotelMap.geoObjects.add(
                new ymaps.Placemark([coordX, coordY], 
                {
                    // balloonContent: link,
                    iconCaption: title,
                }, 
                {
                    preset: 'islands#greenDotIconWithCaption'
                }
            ))
        }

    </script>
{% endblock %}