{% extends 'main/base.html' %}
{% load static %}


{% block main %} 
<main>
    <section class="p-l-63 p-r-63"><h1 class="text-color-black">Где остановиться</h1></section>
    <section>
        <div class="carusel-map">
            <div class="carusel p-l-12 p-r-12">

                <div class="carusel__wrap">
                    <div class="swiper hotelSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><img src="{% static 'img/gallery/img1.jpg' %}" alt="" /></div>
                            <div class="swiper-slide"><img src="{% static 'img/gallery/img2.jpg' %}" alt="" /></div>
                            <div class="swiper-slide"><img src="{% static 'img/gallery/img3.jpg' %}" alt="" /></div>
                            <div class="swiper-slide"><img src="{% static 'img/gallery/img4.jpg' %}" alt="" /></div>
                            <div class="swiper-slide"><img src="{% static 'img/gallery/img5.jpg' %}" alt="" /></div>
                            
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

            </div>
            <div class="map p-l-12 p-r-12" id="map"></div>
        </div>
    </section>
    <section>
        <div class="content-block__container">
            <div class="content-block__description p-l-12 p-r-12">
                <div class="content-block">
                    <h4 class="content-block__header">Описание</h4>
                    <p class="content-block__text">{{ hotel.description }}</p>
                </div>
            </div>
            <div class="content-block__info p-l-12 p-r-12">
                <div class="content-block">
                    <h4 class="content-block__header">Услуги</h4>
                    <p class="content-block__text">{{ hotel.services }}</p>
                </div>
                <div class="content-block">
                    <h4 class="content-block__header">Контакты</h4>
                    <p class="content-block__text">{{ hotel.contacts }}</p>
                </div>
                <div class="content-block">
                    <h4 class="content-block__header">Доступная среда</h4>
                    <p class="content-block__text">some text</p>
                </div>
            </div>
        </div>
    </section>


    <script src="{% static 'js/lib.swiper.min.js' %}"></script>
    <script>
        var swiper = new Swiper(".hotelSwiper", {
          pagination: {
            el: ".swiper-pagination",
            type: "progressbar",
          },
          navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
          },
        });
      </script>
    <script src="{% static 'js/_ymap.js' %}"></script>


</main>




{% endblock %}