{% extends 'main/base.html' %}
{% load static %}


{% block header %} {% endblock %}

{% block main %}
<main>
    <section class="news-path">
        <div class="news-path-container p-l-63 p-r-63 p-t-20 p-b-20">
            <ul class="news-path__list">
                <li class="news-path__list-item"><a href="/">Главная страница</a></li>
                <li class="news-path__list-item"><a href="/news"><span class="opacity-1">Рубрика: Новости</span></a></li>
                <li class="news-path__list-item"><span>{{ news_detail.title }}</span></li>
            </ul>
        </div>
    </section>

    <section class="news_card-content">
        <div class="news_card-content-container p-l-63 p-r-63 p-t-20 p-b-20">
            <div class="news_card__header"><h2>{{ news_detail.title }}</h2></div>
            
            <div class="news_card__img_wrap">
                <img src="{{ news_detail.newsImg.url }}" alt="" class="news_card__img" />
            </div>
            <div class="news_card__description"><p>{{ news_detail.description|safe }}</p></div>
            <div class="news_card__date"><h5>{{ news_detail.date | date:"j E Y" }}</h5></div>
        </div>
    </section>
</main>
<hr style="margin: 0 63px;" />
{% endblock %}

{% block script %} 

{% endblock %}