{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css' %}" />
    <link type="image/x-icon" href="{% static '/img/favicon.ico' %}" rel="shortcut icon">
    <link type="Image/x-icon" href="{% static '/img/favicon.ico' %}" rel="icon">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=0490f1e1-8615-4a8c-828a-021f1724ca4e&lang=ru_RU" type="text/javascript"></script>
    {% block title %}
    <title>KrasPortal</title>
    {% endblock %}
</head>
<body>
  <div class="btn-up btn-up_hide"></div>
  <header class="header">
    <div class="header-container p-l-63 p-r-63">

      <div class="logo__wrap">
        <a href="/"><img class="logo" src="{% static '/img/logo.png' %}" alt="logo" /></a>
      </div>

      <div class="header-nav__wrap">
        <nav class="header-nav">
        <ul>
            <li><a class="header-nav__link" href="/hotels">Где остановиться</a></li>
            <li><a class="header-nav__link" href="/foods">Где поесть</a></li>
            <li><a class="header-nav__link" href="/looks">Что посмотреть</a></li>
            <li><a class="header-nav__link" href="/excursions">Экскурсии</a></li>
            <li><a class="header-nav__link" href="/news">Новости</a></li>
            <li><a class="header-nav__link" href="/contacts">Контакты</a></li>
        </ul>
        </nav>
      </div>

      <div class="header-mobile-menu">
        <div class="mobile-menu__button" id="menuOpenBtn">
          <!--<img class="mobile-menu__button-img" src="{% static '/img/svg/menu.svg' %}" alt="" />-->
          <svg id="mobile-menu" viewBox="0 0 24 24" width="50px" height="50px">
            <rect y="11" width="24" height="2" rx="1" />
            <rect y="4 " width="24" height="2" rx="1" />
            <rect y="18" width="24" height="2" rx="1" />
          </svg>
        </div>
        <nav class="mobile-menu__nav">
          <ul>
              <li><a href="javascript:void(0)" id="menuCloseBtn">&times;</a></li>
              <li><a class="mobile-menu__nav_link" href="/hotels">Где остановиться</a></li>
              <li><a class="mobile-menu__nav_link" href="/foods">Где поесть</a></li>
              <li><a class="mobile-menu__nav_link" href="/looks">Что посмотреть</a></li>
              <li><a class="mobile-menu__nav_link" href="/excursions">Экскурсии</a></li>
              <li><a class="mobile-menu__nav_link" href="/news">Новости</a></li>
              <li><a class="mobile-menu__nav_link" href="/contacts">Контакты</a></li>
          </ul>
        </nav>
      </div>

      <div class="header-button__wrap">
        <button class="button-mode" id="mode">
          <img id="imgMode" src="{% static 'img/svg/sun.svg' %}" alt="mode" />
        </button>
      </div>

    </div>
  </header>


    {% block main %} {% endblock %}
    
    <footer class="footer">
      
        
        <div class="footer-container p-r-63 p-l-63 p-t-20 p-b-20">
          
            <div class="logo__wrap"><img class="logo" src="{% static 'img/logo.png' %}" alt="logo" /></div>
            <div>
                <h3>Что делать</h3>
                <ul>
                    <li><a href="/hotels">Где остановиться</a></li>
                    <li><a href="/foods">Где поесть</a></li>
                    <li><a href="/excursions">Экскурсии</a></li>
                    <li><a href="/looks">Что посмотреть</a></li>
                </ul>
            </div>

            <div>
                <h3>Навигатор</h3>
                <ul>
                    <li><a href="/contacts">Контакты</a></li>
                    <li><a href="http://www.admkrsk.ru/Pages/default.aspx">О Красноярске</a></li>
                    <li><a href="/news">Новости</a></li>
                </ul>
            </div>

            <div>
                <h3>О нас</h3>
                <ul>
                    <li><a href="/contacts">Телефоны</a></li>
                    <li><a href="/contacts">e-mail</a></li>
                    <li>
                      <div class="socials">
                        <ul class="socials__list">
                            <li class="socials__list-item"><a href="https://ok.ru/"><img src="{% static 'img/ok.png' %}" alt="" /></a></li>
                            <li class="socials__list-item"><a href="https://web.telegram.org/"><img src="{% static 'img/tg.png' %}" alt="" /></a></li>
                            <li class="socials__list-item"><a href="https://vk.ru/"><img src="{% static 'img/vk.png' %}" alt="" /></a></li>
                        </ul>
                      </div>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
    {% block script %} {% endblock %}
    <script src="{% static 'js/main.js' %}" type="module"></script>
    <script>
      const btnUp = {
        el: document.querySelector('.btn-up'),
        show() {
          // удалим у кнопки класс btn-up_hide
          this.el.classList.remove('btn-up_hide');
        },
        hide() {
          // добавим к кнопке класс btn-up_hide
          this.el.classList.add('btn-up_hide');
        },
        addEventListener() {
          // при прокрутке содержимого страницы
          window.addEventListener('scroll', () => {
            // определяем величину прокрутки
            const scrollY = window.scrollY || document.documentElement.scrollTop;
            // если страница прокручена больше чем на 400px, то делаем кнопку видимой, иначе скрываем
            scrollY > 400 ? this.show() : this.hide();
          });
          // при нажатии на кнопку .btn-up
          document.querySelector('.btn-up').onclick = () => {
            // переместим в начало страницы
            window.scrollTo({
              top: 0,
              left: 0,
              behavior: 'smooth'
            });
          }
        }
      }
      btnUp.addEventListener();
    </script>
</body>
</html>