{% extends 'main/base.html' %}
{% load static %}


{% block header %} {% endblock %}

{% block main %}
<main>
    <section class="hotels-path">
        <div class="hotels-path-container p-l-63 p-r-63 p-t-20 p-b-20">
            <ul class="hotels-path__list">
                <li class="hotels-path__list-item"><a href="/">Главная страница</a></li>
                <li class="hotels-path__list-item"><span>Рубрика: Где поесть</span></li>
            </ul>
        </div>
    </section>

    <section class="hotels-header"><h1 class="p-l-63 p-r-63 p-t-20 p-b-20">Где поесть</h1></section>

    <section class="hotels-filters">
        <div class="hotels-filters-container p-l-63 p-r-63">
            <div class="hotels-filters__options">
                <form action="/foods" method="GET" class="hotels-form" id="HotelsForm" name="FoodsFilter">
                  <div>
                    <select name="type" class="hotels-form__select">
                        <option value="0" class="hotels-form__option">Тип заведения</option>

                        {% if filter_options %}
                        {% for el in filter_options %}
                        <option value="{{ el }}" class="hotels-form__option">{{ el }}</option>
                
                        {% endfor %}
                        {% endif %}
                    </select>

                    <select name="kitchen" class="hotels-form__select">
                        <option value="0" class="hotels-form__option">Кухня</option>

                        {% if filter_food_options %}
                        {% for el in filter_food_options %}
                        <option value="{{ el }}" class="hotels-form__option">{{ el }}</option>
                
                        {% endfor %}
                        {% endif %}
                    </select>

                    <select name="price" id="" class="hotels-form__select" form="HotelsForm">
                        <option value="0" class="hotels-form__option" id="HotelsPriceOption">Цена</option>
                        <option value="1_2000" class="hotels-form__option">Меньше 2000р.</option>
                        <option value="2001_4000" class="hotels-form__option">2001-4000р.</option>
                        <option value="4001_6000" class="hotels-form__option">4001-6000р.</option>
                        <option value="6001_8000" class="hotels-form__option">6001-8000р.</option>
                        <option value="8001_10000" class="hotels-form__option">8001-10000р.</option>
                        <option value="10001_110000" class="hotels-form__option">Больше 10000р.</option>
                    </select>
                    
                  </div>
                    
                </form>
                <div class="m-t-2 m-b-2 hotels-form__button_wrap">
                    <input type="submit" class="btn btn-hotels m-r-4" form="HotelsForm" id="HotelsForm__submit"/>
                    <button class="btn btn-hotels" id="BtnReset">Сбросить</button>
                </div>
            </div>

            <div class="hotels-filters__btn-map_wrap m-t-2 m-b-2">
                <button class="btn btn-hotels" id="OnMapBtn">На карте</button>

            </div>
            
        </div>
    </section>

    <section class="hotels-cards">
        <div class="hotels-cards-container p-l-63 p-r-63">
        <!-- cards -->
        </div>
    </section>

    <section class="pagination-main">
        {% if page %}
            <div class="pagination">
              <span class="pagination__page-links">
                  {% if page.has_previous %}
                      <a href="{{ request.path }}?page={{ page.previous_page_number }}">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="44px" height="44px" >
                            <path class="cls-1" d="M117.86,140.5a5,5,0,0,1-3.53-1.46L78.6,103.32a5,5,0,0,1,0-7.07l35.73-35.73a5,5,0,1,1,7.07,7.07L89.21,99.78,121.4,132a5,5,0,0,1-3.54,8.53Z"/>
                            <path class="cls-1" d="M154.29,175.69H46a21.57,21.57,0,0,1-21.54-21.54V45.85A21.57,21.57,0,0,1,46,24.31H154.29a21.57,21.57,0,0,1,21.54,21.54v108.3A21.57,21.57,0,0,1,154.29,175.69ZM46,34.31A11.55,11.55,0,0,0,34.46,45.85v108.3A11.55,11.55,0,0,0,46,165.69H154.29a11.55,11.55,0,0,0,11.54-11.54V45.85a11.55,11.55,0,0,0-11.54-11.54Z"/>
                        </svg>
                      </a>
                  {% endif %}
                  <span class="pagination__page-current">
                      Страница {{ page.number }} из {{ page.paginator.num_pages }}
                  </span>
                  {% if page.has_next %}
                      <a href="{{ request.path }}?page={{ page.next_page_number }}">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="44px" height="44px">
                            <path class="cls-1" d="M82.28,140.5A5,5,0,0,1,78.75,132l32.18-32.19L78.75,67.59a5,5,0,0,1,7.07-7.07l35.72,35.73a5,5,0,0,1,0,7.07L85.82,139A5,5,0,0,1,82.28,140.5Z"/>
                            <path class="cls-1" d="M154.15,175.69H45.85a21.57,21.57,0,0,1-21.54-21.54V45.85A21.57,21.57,0,0,1,45.85,24.31h108.3a21.57,21.57,0,0,1,21.54,21.54v108.3A21.57,21.57,0,0,1,154.15,175.69ZM45.85,34.31A11.56,11.56,0,0,0,34.31,45.85v108.3a11.56,11.56,0,0,0,11.54,11.54h108.3a11.56,11.56,0,0,0,11.54-11.54V45.85a11.56,11.56,0,0,0-11.54-11.54Z"/>
                        </svg>
                      </a>
                  {% endif %}
              </span>
            </div>
        {% endif %}
    </section>

    <section class="hotels-modal" >
        <div class="hotels-modal-container" id="index-modal">
          <div class="hotels-modal__content text-center">
            <div id="HotelsMap"></div>
            
                <span class="hotels-modal__close">Закрыть</span>
            
          </div>
        </div>
        
    </section>

</main>
<hr />
{% endblock %}

{% block script %} 
<script src="{% static 'js/_modal.js' %}"></script>
<script src="{% static 'js/_resetBtn-food.js' %}"></script>
<script src="{% static 'js/_json-food-load.js' %}"></script>


<script>
    // first load
    function LoadButtonClick() { 
        let loadButton = document.getElementById('HotelsForm__submit');
        loadButton.click(); 
    };
    window.onload = LoadButtonClick;
</script>



{% endblock %}