{% extends 'main/base.html' %}
{% load static %}


{% block header %} {% endblock %}

{% block main %}
<main>
    <section class="hotels-path">
        <div class="hotels-path-container p-l-63 p-r-63 p-t-20 p-b-20">
            <ul class="hotels-path__list">
                <li class="hotels-path__list-item"><a href="/">Главная страница</a></li>
                <li class="hotels-path__list-item"><span>Рубрика: Где остановиться</span></li>
            </ul>
        </div>
    </section>

    <section class="hotels-header"><h1 class="p-l-63 p-r-63 p-t-20 p-b-20">Где остановиться</h1></section>

    <section class="hotels-filters"></section>

    <section class="hotels-cards"></section>


</main>
{% endblock %}

{% block script %} {% endblock %}