{% extends 'main/base.html' %}
{% load static %}


    {% block header %}
    <header>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi, at.</header>
    <h1 class="delete me background-lblue">
        {% for el in hotels %} 
            <div><h2> {{ el.address }} </h2></div>
        {% endfor %}
    </h1>
    {% endblock %}

    {% block main %}
    <main>
        <section class="p-l-63 p-r-63"><h1 class="text-color-black">Где остановиться</h1></section>
        <section class="filter-form p-l-63 p-r-63">
            <form action="">
                <select name="category" class="" autocomplete="off">
                    <option value="">Категория</option>
                    <option value="Хостелы">Хостелы</option>
                    <option value="Санатории">Санатории</option>
                    <option value="Апарт-отели">Апарт-отели</option>
                    <option value="Мини-отели">Мини-отели</option>
                    <option value="Гостиницы">Гостиницы</option>
                    <option value="Базы отдыха">Базы отдыха</option>
                </select>

                <select name="stars" class="" autocomplete="off">
                    <option value="">Любая звездность</option>
                    <option value="1">1 звезда</option>
                    <option value="2">2 звезд</option>
                    <option value="3">3 звезд</option>
                    <option value="4">4 звезд</option>
                    <option value="5">5 звезд</option>
                </select>

                <select name="price" class="" autocomplete="off">
                    <option value="any">Любая цена</option>
                    <option value="1000">до 1000 руб./сут.</option>
                    <option value="1000-3000">от 1000–3000 руб./сут.</option>
                    <option value="3000">от 3000 руб./сут.</option>
                </select>


                <button type="submit" class="button button-search">Поиск</button>
            </form>
        </section>

        <section class="filter-output p-l-63 p-r-63">
            <div class="filter-item">
                <div class="filter-item__container">
                    <img src="{% static 'img/gallery/img1.jpg' %}" alt="" class="filter-item__img"/>
                    <div class="filter-item__content">
                        <h3 class="p-l-20 p-r-20 p-t-10">heading</h3>
                        <p class="p-l-20 p-r-20 p-b-10 ">some text</p>
                    </div>
                </div>
                <div class="filter-item__footer">
                    <div class="special-list">
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="filter-item__price">300 рублей</div>
                </div>
            </div>

            <div class="filter-item">
                <div class="filter-item__container">
                    <img src="{% static 'img/gallery/img1.jpg' %}" alt="" class="filter-item__img"/>
                    <div class="filter-item__content">
                        <h3 class="p-l-20 p-r-20 p-t-10">heading</h3>
                        <p class="p-l-20 p-r-20 p-b-10 ">some text</p>
                    </div>
                </div>
                <div class="filter-item__footer">
                    <div class="special-list">
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="filter-item__price">300 рублей</div>
                </div>
            </div>

            <div class="filter-item">
                <div class="filter-item__container">
                    <img src="{% static 'img/gallery/img1.jpg' %}" alt="" class="filter-item__img"/>
                    <div class="filter-item__content">
                        <h3 class="p-l-20 p-r-20 p-t-10">heading</h3>
                        <p class="p-l-20 p-r-20 p-b-10 ">some text</p>
                    </div>
                </div>
                <div class="filter-item__footer">
                    <div class="special-list">
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="filter-item__price">300 рублей</div>
                </div>
            </div>

            <div class="filter-item">
                <div class="filter-item__container">
                    <img src="{% static 'img/gallery/img1.jpg' %}" alt="" class="filter-item__img"/>
                    <div class="filter-item__content">
                        <h3 class="p-l-20 p-r-20 p-t-10">heading</h3>
                        <p class="p-l-20 p-r-20 p-b-10 ">some text</p>
                    </div>
                </div>
                <div class="filter-item__footer">
                    <div class="special-list">
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="filter-item__price">300 рублей</div>
                </div>
            </div>

            <div class="filter-item">
                <div class="filter-item__container">
                    <img src="{% static 'img/gallery/img1.jpg' %}" alt="" class="filter-item__img"/>
                    <div class="filter-item__content">
                        <h3 class="p-l-20 p-r-20 p-t-10">heading</h3>
                        <p class="p-l-20 p-r-20 p-b-10 ">some text</p>
                    </div>
                </div>
                <div class="filter-item__footer">
                    <div class="special-list">
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="filter-item__price">300 рублей</div>
                </div>
            </div>

            <div class="filter-item">
                <div class="filter-item__container">
                    <img src="{% static 'img/gallery/img1.jpg' %}" alt="" class="filter-item__img"/>
                    <div class="filter-item__content">
                        <h3 class="p-l-20 p-r-20 p-t-10">heading</h3>
                        <p class="p-l-20 p-r-20 p-b-10 ">some text</p>
                    </div>
                </div>
                <div class="filter-item__footer">
                    <div class="special-list">
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="filter-item__price">300 рублей</div>
                </div>
            </div>

            <div class="filter-item">
                <div class="filter-item__container">
                    <img src="{% static 'img/gallery/img1.jpg' %}" alt="" class="filter-item__img"/>
                    <div class="filter-item__content">
                        <h3 class="p-l-20 p-r-20 p-t-10">heading</h3>
                        <p class="p-l-20 p-r-20 p-b-10 ">some text</p>
                    </div>
                </div>
                <div class="filter-item__footer">
                    <div class="special-list">
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>

                        <div class="special-item">
                            <img class="special-item__img" src="{% static 'img/limit/deafness.png' %}" alt="" />
                        </div>
                    </div>
                    <div class="filter-item__price">300 рублей</div>
                </div>
            </div>

            
            

        </section>
    </main>
    {% endblock %}
    
