{% extends 'main/base.html' %}
{% load static %}

{% block main %}
<main>
  <section class="index-grid">
    <div class="index-grid-container p-l-63 p-r-63">
      <div class="index-grid__col_1 p-r-2">
        <div class="index-grid__video-container">
          <video autoplay muted loop id="index-video" class="index-grid__video">
            <source src="{% static 'video/videofly.webm' %}" />
          </video>
          <div class="index-grid__video-content">
            <h3>Полет над Красноярском</h3>
            <p>Красивый обзор города</p>
          </div>
        </div>
      </div>

      <div class="index-grid__col_2 p-l-2">
        <div class="swiper index-grid__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide index-grid__swiper-slide"><img src="{% static 'img/gallery/img1.jpg' %}" alt="" /><h5 class="index-grid__swiper-slide_text">"Столбы"</h5></div>
            <div class="swiper-slide index-grid__swiper-slide"><img src="{% static 'img/gallery/img2.jpg' %}" alt="" /><h5 class="index-grid__swiper-slide_text">"Часовня"</h5></div>
            <div class="swiper-slide index-grid__swiper-slide"><img src="{% static 'img/gallery/img3.jpg' %}" alt="" /><h5 class="index-grid__swiper-slide_text">"Пешеходный мост"</h5></div>
            <div class="swiper-slide index-grid__swiper-slide"><img src="{% static 'img/gallery/img4.jpg' %}" alt="" /><h5 class="index-grid__swiper-slide_text">Улица Ленина</h5></div>
            <div class="swiper-slide index-grid__swiper-slide"><img src="{% static 'img/gallery/img5.jpg' %}" alt="" /><h5 class="index-grid__swiper-slide_text">Фонтаны на центральной площади</h5></div>
          </div>

          <div class="swiper-pagination"></div>
        
        </div>
      </div>
    </div>
  </section>

  <section class="index-news">
    <div class="index-news__header p-l-63 p-r-63 p-t-20 p-b-20"><h2 class="text-center">Новости</h2></div>
    {% if news %}
    <div class="index-news__swiper-container p-l-63 p-r-63">
      <div class="swiper index-news__swiper">
        <div class="swiper-wrapper">
        {% for el in news %}

          <div class="swiper-slide index-news__swiper-slide">
            <a class="index-news__swiper-slide_link " href="{% url 'news_detail' el.id %}">
            <div class="index-news__card">
              <img src="{{ el.newsImg.url }}" alt="news" class="index-news__card_img"/>
            </div>
            <div class="index-news__card_content">
              <h5 class="index-news__card_title">{{ el.title }} {{ el.id }}</h5>
            </div>
            </a>
          </div>

        {% endfor %}
        </div>
      </div>
    </div>
  
    <div class="index-news__buttons m-t-20 m-b-20">
      <div class="next-prev index-news__button-prev ">
        <svg 
          version="1.1" 
          x="0px" y="0px" 
          width="40px" 
          height="40px" 
          viewBox="0 0 306 306" 
          style="enable-background:new 0 0 306 306;" 
          xml:space="preserve">
          <g id="keyboard-arrow-left">
            <polygon points="247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153"/>
          </g>
        </svg>
      </div>

      <button class="btn info m-l-20 m-r-20" onclick="document.location='/news' ">Все новости</button>

      <div class="next-prev index-news__button-next">
        <svg 
          version="1.1" 
          x="0px" y="0px"
          width="40px" 
          height="40px" 
          viewBox="0 0 306 306" 
          style="enable-background:new 0 0 306 306;" 
          xml:space="preserve">
          <g id="keyboard-arrow-right">
            <polygon points="58.65,267.75 175.95,153 58.65,35.7 94.35,0 247.35,153 94.35,306 "/>
          </g>
        </svg>
      </div>
    </div>
    {% else %}
    <div><h3 class="text-center">На сегодня нет новостей</h3></div>
    {% endif %}
  </section>

  <section class="index-hotels">
    <div class="index-hotels__header p-l-63 p-r-63 p-t-20 p-b-20"><h2 class="text-center">Где остановиться</h2></div>
    {% if hotels %}
    <div class="index-hotels__swiper-container p-l-63 p-r-63">
      <div class="swiper index-hotels__swiper">
        <div class="swiper-wrapper">
          {% for hotel in hotels %}
          <div class="swiper-slide index-hotels__swiper-slide">
            <a href="{% url 'hotel_page' hotel.id %}">
              <div class="index-hotel__card-wrap">
                <div class="index-hotels__card">
                  <img class="index-hotels__card_img" src="{{ hotel.hotel_images.first.getUrl.url }}" alt="" />
                </div>
                <div class="index-hotels__card_content">
                  <h5 class="index-hotels__card_title">{{ hotel.title }}</h5>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="index-news__buttons m-t-20 m-b-20">
      <div class="next-prev index-hotels__button-prev">
        <svg 
          version="1.1" 
          x="0px" y="0px" 
          width="40px" 
          height="40px" 
          viewBox="0 0 306 306" 
          style="enable-background:new 0 0 306 306;" 
          xml:space="preserve">
          <g id="keyboard-arrow-left">
            <polygon points="247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153"/>
          </g>
        </svg>
      
      </div>
      <button class="btn info m-l-20 m-r-20" onclick="document.location='/hotels' ">Все отели</button>
      <div class="next-prev index-hotels__button-next">
        <svg 
          version="1.1" 
          x="0px" y="0px"
          width="40px" 
          height="40px" 
          viewBox="0 0 306 306" 
          style="enable-background:new 0 0 306 306;" 
          xml:space="preserve">
          <g id="keyboard-arrow-right">
            <polygon points="58.65,267.75 175.95,153 58.65,35.7 94.35,0 247.35,153 94.35,306 "/>
          </g>
        </svg>
      </div>

      {% else %}
      <div><h3 class="text-center">Отели отсутствуют</h3></div>
      {% endif %}
    </div>

  </section>

  <section class="index-hotels">
    <div class="index-hotels__header p-l-63 p-r-63 p-t-20 p-b-20"><h2 class="text-center">Где поесть</h2></div>
    {% if hotels %}
    <div class="index-hotels__swiper-container p-l-63 p-r-63">
      <div class="swiper index-food__swiper">
        <div class="swiper-wrapper">
          {% for hotel in hotels %}
          <div class="swiper-slide index-food__swiper-slide">
            <a href="{% url 'hotel_page' hotel.id %}">
              <div class="index-hotel__card-wrap">
                <div class="index-hotels__card">
                  <img class="index-hotels__card_img" src="{{ hotel.hotel_images.first.getUrl.url }}" alt="" />
                </div>
                <div class="index-hotels__card_content">
                  <h5 class="index-hotels__card_title">{{ hotel.title }}</h5>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="index-news__buttons m-t-20 m-b-20">
      <div class="next-prev index-food__button-prev">
        <svg 
          version="1.1" 
          x="0px" y="0px" 
          width="40px" 
          height="40px" 
          viewBox="0 0 306 306" 
          style="enable-background:new 0 0 306 306;" 
          xml:space="preserve">
          <g id="keyboard-arrow-left">
            <polygon points="247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153"/>
          </g>
        </svg>
      
      </div>
      <button class="btn info m-l-20 m-r-20" onclick="document.location='/food' ">Все заведения</button>
      <div class="next-prev index-food__button-next">
        <svg 
          version="1.1" 
          x="0px" y="0px"
          width="40px" 
          height="40px" 
          viewBox="0 0 306 306" 
          style="enable-background:new 0 0 306 306;" 
          xml:space="preserve">
          <g id="keyboard-arrow-right">
            <polygon points="58.65,267.75 175.95,153 58.65,35.7 94.35,0 247.35,153 94.35,306 "/>
          </g>
        </svg>
      </div>

      {% else %}
      <div><h3 class="text-center">Заведения отсутствуют</h3></div>
      {% endif %}
    </div>

  </section>

  <section class="index-hotels">
    <div class="index-hotels__header p-l-63 p-r-63 p-t-20 p-b-20"><h2 class="text-center">Что посмотреть</h2></div>
    {% if hotels %}
    <div class="index-hotels__swiper-container p-l-63 p-r-63">
      <div class="swiper index-look__swiper">
        <div class="swiper-wrapper">
          {% for hotel in hotels %}
          <div class="swiper-slide index-hotels__swiper-slide">
            <a href="{% url 'hotel_page' hotel.id %}">
              <div class="index-hotel__card-wrap">
                <div class="index-hotels__card">
                  <img class="index-hotels__card_img" src="{{ hotel.hotel_images.first.getUrl.url }}" alt="" />
                </div>
                <div class="index-hotels__card_content">
                  <h5 class="index-hotels__card_title">{{ hotel.title }}</h5>
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="index-news__buttons m-t-20 m-b-20">
      <div class="next-prev index-look__button-prev">
        <svg 
          version="1.1" 
          x="0px" y="0px" 
          width="40px" 
          height="40px" 
          viewBox="0 0 306 306" 
          style="enable-background:new 0 0 306 306;" 
          xml:space="preserve">
          <g id="keyboard-arrow-left">
            <polygon points="247.35,35.7 211.65,0 58.65,153 211.65,306 247.35,270.3 130.05,153"/>
          </g>
        </svg>
      
      </div>
      <button class="btn info m-l-20 m-r-20" onclick="document.location='/hotels' ">Все достопримечательности</button>
      <div class="next-prev index-look__button-next">
        <svg 
          version="1.1" 
          x="0px" y="0px"
          width="40px" 
          height="40px" 
          viewBox="0 0 306 306" 
          style="enable-background:new 0 0 306 306;" 
          xml:space="preserve">
          <g id="keyboard-arrow-right">
            <polygon points="58.65,267.75 175.95,153 58.65,35.7 94.35,0 247.35,153 94.35,306 "/>
          </g>
        </svg>
      </div>

      {% else %}
      <div><h3 class="text-center">Пока пусто</h3></div>
      {% endif %}
    </div>

  </section>



  <section class="index-modal" >
    <div class="index-modal-container" id="index-modal">
      <div class="index-modal__content">
        <span class="index-modal__close">close</span>
        <h5>and header</h5>
        <p>some text</p>
      </div>
    </div>
  </section>

</main>
{% endblock %}

{% block script %} 
<script src="{% static 'js/lib.swiper.min.js' %}"></script>
<script src="{% static 'js/_swiper-index.js' %}"></script>

{% endblock %}