{% extends 'main/base.html' %}
{% load static %}


{% block header %} {% endblock %}

{% block main %}
<main>
    <section class="hotels-path">
        <div class="hotels-path-container p-l-63 p-r-63 p-t-20 p-b-20">
            <ul class="hotels-path__list">
                <li class="hotels-path__list-item"><a href="/">Главная страница</a></li>
                <li class="hotels-path__list-item"><span>Рубрика: Что посмотреть</span></li>
            </ul>
        </div>
    </section>

    <section class="hotels-header"><h1 class="p-l-63 p-r-63 p-t-20 p-b-20">Что посмотреть</h1></section>

    <section class="hotels-filters">
        <div class="hotels-filters-container p-l-63 p-r-63">
            <div class="hotels-filters__options">
                <form action="/looks" method="GET" class="hotels-form" id="HotelsForm">
                  <div>
                    <select name="type" class="hotels-form__select">
                        <option value="0" class="hotels-form__option">Тип достопримечательности</option>

                        {% if view.filter_options %}
                        {% for el in view.filter_options %}
                        <option value="{{ el }}" class="hotels-form__option">{{ el }}</option>
                
                        {% endfor %}
                        {% endif %}
                    </select>
                    <select name="price" id="" class="hotels-form__select" form="HotelsForm">
                        <option value="0" class="hotels-form__option">Цена</option>
                        <option value="2000" class="hotels-form__option">Меньше 2000р.</option>
                        <option value="4000" class="hotels-form__option">2000-4000р.</option>
                        <option value="6000" class="hotels-form__option">4000-6000р.</option>
                        <option value="8000" class="hotels-form__option">6000-8000р.</option>
                        <option value="10000" class="hotels-form__option">8000-10000р.</option>
                        <option value="10001" class="hotels-form__option">Больше 10000р.</option>
                    </select>
                    
                  </div>
                    
                </form>
                <div class="m-t-2 m-b-2 hotels-form__button_wrap">
                    <input type="submit" class="btn btn-hotels m-r-4" form="HotelsForm" />
                    <button class="btn btn-hotels">Сбросить</button>
                </div>
            </div>

            <div class="hotels-filters__btn-map_wrap m-t-2 m-b-2">
                <button class="btn btn-hotels" id="OnMapBtn">На карте</button>
            </div>
            
        </div>
    </section>

    <section class="hotels-cards">
        <div class="hotels-cards-container p-l-63 p-r-63">
        {% for look in looks %}
            <div class="hotels-card-elem">
                <a class="opacity-1" href="{% url 'look' look.id %}">
                <div class="hotels-card-elem__img_wrap">
                    <img class="hotels-card-elem__img" src="{{ look.Showplaces_images.first.getUrl.url }}" alt=""/>
                </div>

                <div class="hotels-card-elem__type">
                    <p>{{ look.showplacesType }}</p>
                </div>

                <div class="hotels-card-elem__price">
                    <p>Цена: {{ look.price }}</p>
                </div>

                <div class="hotels-card-elem__header_wrap">
                    <h4 class="hotels-card-elem__header">{{ look.title }}</h4>
                </div>
                </a>
            </div>
        {% endfor %}


        </div>
    </section>
    <section class="hotels-pagination">
    {% if is_paginated %}
        <div class="pagination text-center">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
        </div>
    {% endif %}
    
    </section>

    <section class="hotels-modal" >
        <div class="hotels-modal-container" id="index-modal">
          <div class="hotels-modal__content text-center">
            <div id="HotelsMap"></div>
            
                <span class="hotels-modal__close">Закрыть</span>
            
          </div>
        </div>
        
    </section>

</main>
<hr />
{% endblock %}

{% block script %} 
<script src="{% static 'js/_modal.js' %}"></script>
<script>

    let geoData = {
        "type": "FeatureCollection",
        "features": []
    };

    '{% for look in looks %}'
	geoData.features.push({ 
        'type': "Feature",
        'id': Number('{{look.getCoordinates.id}}'),
        'geometry': {
            "type": "Point", 
            "coordinates": [
                parseFloat(('{{ look.getCoordinates.pointX }}').replace(',', '.')),
                parseFloat(('{{ look.getCoordinates.pointY }}').replace(',', '.'))
            ]
        },
        "properties": {
            "balloonContentHeader": "<font size=3><b><a target='_blank' href='https://yandex.ru'>Здесь может быть ваша ссылка</a></b></font>", 
            "balloonContentBody": "<p>Ваше имя: <input name='login'></p><p><em>Телефон в формате 2xxx-xxx:</em>  <input></p><p><input type='submit' value='Отправить'></p>", 
            "balloonContentFooter": "<font size=1>Информация предоставлена: </font> <strong>этим балуном</strong>", 
            "clusterCaption": "<strong><s>Еще</s> одна</strong> метка", 
            "hintContent": "<strong>Текст  <s>подсказки</s></strong>"
        }
    });
    '{% endfor %}'



    ymaps.ready(init);

    function init() {
        let hotelsMap = new ymaps.Map('HotelsMap', {
            center: [55.751574, 37.573856],
            zoom: 10
        }, {
            searchControlProvider: 'yandex#search'
        }),
        objectManager = new ymaps.ObjectManager({
            // Чтобы метки начали кластеризоваться, выставляем опцию.
            clusterize: true,
            // ObjectManager принимает те же опции, что и кластеризатор.
            gridSize: 32,
            clusterDisableClickZoom: true
        });

            // Чтобы задать опции одиночным объектам и кластерам,
            // обратимся к дочерним коллекциям ObjectManager.
        objectManager.objects.options.set('preset', 'islands#greenDotIcon');
        objectManager.clusters.options.set('preset', 'islands#greenClusterIcons');
        hotelsMap.geoObjects.add(objectManager);

        objectManager.add(geoData);
    }
</script>



{% endblock %}