{% extends 'main/base.html' %}
{% load static %}


{% block header %} {% endblock %}

{% block main %}
<main>
    <section class="news-path">
        <div class="news-path-container p-l-63 p-r-63 p-t-20 p-b-20">
            <ul class="news-path__list">
                <li class="news-path__list-item"><a href="/">Главная страница</a></li>
                <li class="news-path__list-item"><span>Рубрика: Новости</span></li>
            </ul>
        </div>
    </section>

    <section class="news-header "><h1 class="p-l-63 p-r-63 p-t-20 p-b-20">Новости</h1></section>
    
    <section class="news-filter">
        <div class="news-filter__elem p-l-63 p-r-63 p-b-20">
            <div class="news-filter__datepicker">
                <input class="news-filter__datepicker_input" type="date" />
            </div>
            <span> — </span>
            <div class="news-filter__datepicker">
                <input class="news-filter__datepicker_input" type="date" />
            </div>
        </div>
    </section>

    <section class="news-panel">
        <div class="news-panel-container p-l-63 p-r-63 p-t-20 p-b-20">
        {% if news_list %}
            {% for elem in news_list %}
            <div class="news-card">
                <div class="news-card__img-wrap">
                    <a href="{% url 'news_detail' elem.id %}"><img class="news-card__img" src="{{ elem.newsImg.url }}" /></a>
                </div>
                <div class="news-card__content">
                    <h3 class="news-card__header text-right"><a href="{% url 'news_detail' elem.id %}">{{ elem.title }}</a></h3>
                    <h4 class="news-card__date text-right">{{ elem.date | date:"j E Y" }}</h4>
                    <p class="news-card__description">{{ elem.description | truncatechars:809 |safe }}</p>
                    <br />
                    <a class="news-card__link_read-next" href="{% url 'news_detail' elem.id %}">Читать далее...</a>
                </div>
            </div>
            <hr />
            {% endfor %}
        {% endif %}
        </div>
    </section>

    <section class="pagination-main">
        {% if is_paginated %}
            <div class="pagination">
              <span class="pagination__page-links">
                  {% if page_obj.has_previous %}
                      <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="44px" height="44px" >
                            <path class="cls-1" d="M117.86,140.5a5,5,0,0,1-3.53-1.46L78.6,103.32a5,5,0,0,1,0-7.07l35.73-35.73a5,5,0,1,1,7.07,7.07L89.21,99.78,121.4,132a5,5,0,0,1-3.54,8.53Z"/>
                            <path class="cls-1" d="M154.29,175.69H46a21.57,21.57,0,0,1-21.54-21.54V45.85A21.57,21.57,0,0,1,46,24.31H154.29a21.57,21.57,0,0,1,21.54,21.54v108.3A21.57,21.57,0,0,1,154.29,175.69ZM46,34.31A11.55,11.55,0,0,0,34.46,45.85v108.3A11.55,11.55,0,0,0,46,165.69H154.29a11.55,11.55,0,0,0,11.54-11.54V45.85a11.55,11.55,0,0,0-11.54-11.54Z"/>
                        </svg>
                      </a>
                  {% endif %}
                  <span class="pagination__page-current">
                      Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                  </span>
                  {% if page_obj.has_next %}
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">
                        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200" width="44px" height="44px">
                            <path class="cls-1" d="M82.28,140.5A5,5,0,0,1,78.75,132l32.18-32.19L78.75,67.59a5,5,0,0,1,7.07-7.07l35.72,35.73a5,5,0,0,1,0,7.07L85.82,139A5,5,0,0,1,82.28,140.5Z"/>
                            <path class="cls-1" d="M154.15,175.69H45.85a21.57,21.57,0,0,1-21.54-21.54V45.85A21.57,21.57,0,0,1,45.85,24.31h108.3a21.57,21.57,0,0,1,21.54,21.54v108.3A21.57,21.57,0,0,1,154.15,175.69ZM45.85,34.31A11.56,11.56,0,0,0,34.31,45.85v108.3a11.56,11.56,0,0,0,11.54,11.54h108.3a11.56,11.56,0,0,0,11.54-11.54V45.85a11.56,11.56,0,0,0-11.54-11.54Z"/>
                        </svg>
                      </a>
                  {% endif %}
              </span>
            </div>
        {% endif %}
    </section>


</main>
{% endblock %}


{% block script %} 

{% endblock %}