{% extends 'main/base.html' %}
{% load static %}


{% block header %} {% endblock %}

{% block main %}
<main>
    <section class="news-path">
        <div class="news-path-container p-l-63 p-r-63 p-t-20 p-b-20">
            <ul class="news-path__list">
                <li class="news-path__list-item"><a href="/">Главная страница</a></li>
                <li class="news-path__list-item"><span>Рубрика: Новости</span></li>
            </ul>
        </div>
    </section>

    <section class="news-header "><h1 class="p-l-63 p-r-63 p-t-20 p-b-20">Новости</h1></section>
    
    <section class="news-filter">
        <div class="news-filter__elem p-l-63 p-r-63 p-b-20">
            <div class="news-filter__datepicker">
                <input class="news-filter__datepicker_input" type="date" />
            </div>
            <span> — </span>
            <div class="news-filter__datepicker">
                <input class="news-filter__datepicker_input" type="date" />
            </div>
        </div>
    </section>

    <section class="news-panel">
        <div class="news-panel-container p-l-63 p-r-63 p-t-20 p-b-20">
        {% if news %}
            {% for elem in news %}
            <div class="news-card">
                <div class="news-card__img-wrap">
                    <img class="news-card__img" src="{{ elem.newsImg.url }}" />
                </div>
                <div class="news-card__content">
                    <h3 class="news-card__header text-right"><a href="{% url 'news-page' elem.id %}">{{ elem.title }}</a></h3>
                    <h4 class="news-card__date text-right">{{ elem.date | date:"j E Y" }}</h4>
                    <p class="news-card__description">{{ elem.description }}</p>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </section>

    <section class="news-pages">
        <div class="news-pages-container text-center">1,2,3</div>
    </section>
</main>
{% endblock %}


{% block script %} 

{% endblock %}