@import "swiper-bundle.min.css";
:root {
  --theme-main: #f3f4f6;
  --theme-second: #e0e0e0;
  --theme-third: #f3f4f6;
  --theme-fourth: #fff;
  --theme-background: #fff;
  --text-color: #000;
}

:root[data-theme=dark] {
  --theme-main: #111111;
  --theme-second: #333333;
  --theme-third: #222222;
  --theme-fourth: #000;
  --theme-background: #000;
  --text-color: #fff;
}

/*.vvv {
    a: #2196F3
#FFC107
#4CAF50
#FF9800
#E91E63
#FFFFFF
#9E9E9E
}
*/
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.eot");
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.eot");
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.eot");
  src: local("Rubik Regular"), local("Rubik-Regular"), url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.eot");
  src: local("Rubik Light"), local("Rubik-Light"), url("../fonts/Rubik-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff"), url("../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-BoldItalic.eot");
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url("../fonts/Merriweather-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-BoldItalic.woff") format("woff"), url("../fonts/Merriweather-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Italic.eot");
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url("../fonts/Merriweather-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Italic.woff") format("woff"), url("../fonts/Merriweather-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Regular.eot");
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../fonts/Merriweather-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Regular.woff") format("woff"), url("../fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.eot");
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../fonts/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  font-family: "Merriweather";
  color: var(--text-color);
}

a:hover {
  opacity: 0.5;
  transition: 0.3s ease;
}

.button {
  box-shadow: none;
  border: 2px solid #007aff;
  border-radius: 4px;
  font-family: "Rubik";
  width: 150px;
  height: 48px;
  padding: 3px 8px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  background: black;
  color: #007aff;
}

.button:active {
  color: rgb(255, 255, 255);
  border-color: #38c2ac;
  background-image: linear-gradient(#38c2ac, #6aa2ce);
  box-shadow: none;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {
  background-color: #04AA6D;
} /* Green */
.success:hover {
  background-color: #46a049;
}

.info {
  background-color: #2196F3;
} /* Blue */
.info:hover {
  background: #0b7dda;
}

.warning {
  background-color: #ff9800;
} /* Orange */
.warning:hover {
  background: #e68a00;
}

.danger {
  background-color: #f44336;
} /* Red */
.danger:hover {
  background: #da190b;
}

.default {
  background-color: #e7e7e7;
  color: black;
} /* Gray */
.default:hover {
  background: #ddd;
}

h1, h2, h3, h4, h5 {
  font-family: "Rubik";
  color: var(--text-color);
}

h1 {
  line-height: 1.2;
  font-size: calc(1.375rem + 1.5vw);
}

h2 {
  line-height: 1.2;
  font-size: calc(1.325rem + 0.9vw);
}

h3 {
  line-height: 1.2;
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  line-height: 1.2;
  font-size: calc(1.275rem + 0.3vw);
}

h5 {
  line-height: 1.2;
  font-size: 1.25rem;
}

@media (min-width: 1200px) {
  h1 {
    line-height: 1.2;
    font-size: 2.5rem;
  }
  h2 {
    line-height: 1.2;
    font-size: 2rem;
  }
  h3 {
    line-height: 1.2;
    font-size: 1.75rem;
  }
  h4 {
    line-height: 1.2;
    font-size: 1.5rem;
  }
  h5 {
    line-height: 1.2;
    font-size: 1.25rem;
  }
}
/*
@media (min-width: 375px) {
    h1 { font-size: 28px; line-height: 30px; }
    h2 { font-size: 24px; line-height: 28px; }
    h3 { font-size: 22px; line-height: 26px; }
    h4 { font-size: 20px; line-height: 24px; }
    h5 { font-size: 18px; line-height: 20px; }
}

@media (min-width: 768px) {
    h1 { font-size: 40px; line-height: 46px; } 
    h2 { font-size: 36px; line-height: 42px; }
    h3 { font-size: 34px; line-height: 40px; }
    h4 { font-size: 32px; line-height: 38px; }
    h5 { font-size: 30px; line-height: 36px; }
}

@media (min-width: 992px) {
    h1 { font-size: 42px; line-height: 48px; } 
    h2 { font-size: 38px; line-height: 46px; }
    h3 { font-size: 36px; line-height: 42px; }
    h4 { font-size: 34px; line-height: 40px; }
    h5 { font-size: 32px; line-height: 38px; }
}

@media (min-width: 1200px) {
    h1 { font-size: 48px; line-height: 56px; }
    h2 { font-size: 40px; line-height: 48px; }
    h3 { font-size: 32px; line-height: 40px; }
    h4 { font-size: 24px; line-height: 32px; }
    h5 { font-size: 20px; line-height: 28px; }
}*/
p {
  font-family: "Merriweather";
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
}

/*
@media (min-width: 375px) {
    p { font-size: 14px; line-height: 18px; }
}

@media (min-width: 768px) {
    p { font-size: 24px; line-height: 28px; }
}

@media (min-width: 992px) {
    p { font-size: 22px; line-height: 28px; }
}

@media (min-width: 1200px) {
    p { font-size: 16px; line-height: 20px; }
}*/
ul > li {
  margin-top: 10px;
  margin-bottom: 10px;
}

strong {
  font-weight: 700;
  text-decoration: none;
}

.background-blue {
  background-color: blue;
}

.background-lblue {
  background-color: #009bdc;
}

.m-2 {
  margin: 2px;
}

.m-t-2 {
  margin-top: 2px;
}

.m-l-2 {
  margin-left: 2px;
}

.m-r-2 {
  margin-right: 2px;
}

.m-b-2 {
  margin-bottom: 2px;
}

.m-4 {
  margin: 4px;
}

.m-t-4 {
  margin-top: 4px;
}

.m-l-4 {
  margin-left: 4px;
}

.m-r-4 {
  margin-right: 4px;
}

.m-b-4 {
  margin-bottom: 4px;
}

.m-16 {
  margin: 16px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-20 {
  margin: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-63 {
  margin: 63px;
}

.m-t-63 {
  margin-top: 63px;
}

.m-l-63 {
  margin-left: 63px;
}

.m-r-63 {
  margin-right: 63px;
}

.m-b-63 {
  margin-bottom: 63px;
}

.p-2 {
  padding: 2px;
}

.p-t-2 {
  padding-top: 2px;
}

.p-l-2 {
  padding-left: 2px;
}

.p-r-2 {
  padding-right: 2px;
}

.p-b-2 {
  padding-bottom: 2px;
}

.p-10 {
  padding: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-12 {
  padding: 12px;
}

.p-t-12 {
  padding-top: 12px;
}

.p-l-12 {
  padding-left: 12px;
}

.p-r-12 {
  padding-right: 12px;
}

.p-b-12 {
  padding-bottom: 12px;
}

.p-20 {
  padding: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-63 {
  padding: 63px;
}

.p-t-63 {
  padding-top: 63px;
}

.p-l-63 {
  padding-left: 63px;
}

.p-r-63 {
  padding-right: 63px;
}

.p-b-63 {
  padding-bottom: 63px;
}

.text-color-white {
  color: #fff;
}

.text-color-black {
  color: #000;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.opacity-1 {
  opacity: 1 !important;
}

.opacity-05 {
  opacity: 0.5 !important;
}

.pagination-main {
  background-color: var(--theme-second);
}

.pagination {
  text-align: center;
}

.pagination svg {
  fill: var(--text-color);
}

.pagination__page-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__page-current {
  font-family: "Rubik";
  color: var(--text-color);
}

.pagination__arrow-prev,
.pagination__arrow-next {
  width: 44px;
  height: 44px;
}

/* pages */
/* page not found */ /* header */ /* for header in all pages */
.header-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--theme-main);
  transition: all 0.3s ease-in-out;
  height: 150px;
}

@media (width <= 1050px) {
  .header {
    position: sticky;
    z-index: 2;
    top: 0;
  }
  .header-container {
    height: 110px;
  }
}
/* for header in all pages */
.logo__wrap {
  height: 100px;
  width: 100px;
  order: 1;
  margin: auto 0;
}

.logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (width <= 1050px) {
  .logo__wrap {
    order: 2;
  }
}
/* for header in all pages */
.header-nav__wrap {
  order: 2;
}

.header-nav li {
  display: inline;
  margin: 10px;
}

.header-nav__link {
  font-family: "Rubik";
}

@media (width <= 1050px) {
  .header-nav__wrap {
    display: none;
  }
}
/* for header in all pages */
.header-mobile-menu {
  display: none;
  width: 100px;
  text-align: left;
  order: 1;
  cursor: pointer;
}

.mobile-menu__button-img {
  width: 50px;
  height: 50px;
}

#mobile-menu {
  fill: var(--text-color);
}

.mobile-menu__nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.mobile-menu__nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.mobile-menu__nav a:hover {
  color: #f1f1f1;
}

.mobile-menu__nav_link {
  font-family: "Rubik";
}

#menuCloseBtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media (width <= 1050px) {
  .header-mobile-menu {
    display: block;
  }
  #mobile-menu {
    width: 30px;
    height: 30px;
  }
}
/* for header in all pages */
.header-button__wrap {
  width: 100px;
  text-align: right;
  order: 3;
  margin: auto 0;
}

.button-mode {
  border-radius: 50%;
  background-color: var(--theme-main);
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-sizing: content-box;
}

.button-mode img {
  width: 100%;
  height: 100%;
}

/* footer */
/* footer for all pages */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--theme-main);
}

.footer-container > div {
  flex: 1 1 auto;
}

@media (width <= 1050px) {
  .footer-container {
    display: none;
  }
}
.socials__list {
  display: flex;
  align-items: center;
}

.socials__list-item {
  width: 32px;
  height: 32px;
  margin-right: 2px;
}

.socials__list-item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.socials__list-item img {
  width: 100%;
  height: 100%;
}

.contacts-aboutus-container h2 {
  margin-bottom: 20px;
}

.developers-info {
  display: flex;
  justify-content: space-between;
}

.developer__img-wrap {
  width: 30%;
  height: 700px;
}
.developer__img-wrap img {
  width: 100%;
  height: 100%;
}

.developer__about {
  width: 69%;
}

.contacts-organization__title {
  margin-bottom: 20px;
}

.contacts-path-container {
  background-color: var(--theme-second);
}

.contacts-path__list-item {
  display: inline;
}

.contacts-path__list-item span {
  font-family: "Merriweather";
  opacity: 0.7;
  color: var(--text-color);
}

.contacts-path__list-item span::before {
  content: "/";
  padding-right: 0.3rem;
}

/* for hotel-page */ /* for hotel page */ /* for hotel-card */
.hotel-map-container {
  height: 500px;
}

#HotelMap {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* for hotel page */
.hotel-path-container {
  background-color: var(--theme-second);
}

.hotel-path__list-item {
  display: inline;
}

.hotel-path__list-item span {
  font-family: "Merriweather";
  opacity: 0.7;
  color: var(--text-color);
}

.hotel-path__list-item span::before {
  content: "/";
  padding-right: 0.3rem;
}

/* for hotel-page */
.hotel-services-container {
  background-color: var(--theme-second);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 120px;
}

.hotel__address,
.hotel__contacts,
.hotel__links {
  width: 33.33%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (width <= 865px) {
  .hotel-services-container {
    flex-direction: column;
  }
  .hotel__address,
  .hotel__contacts,
  .hotel__links {
    width: 100%;
  }
}
/* for hotel page */
.hotel-swiper-container {
  position: relative;
  height: 400px;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.hotel_swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hotel-swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hotel-swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button__hotel {
  color: #000;
}

/* index head */ /* for index page */
.index-grid {
  background-color: var(--theme-main);
  transition: 0.3s ease;
}

.index-grid-container {
  display: flex;
  background-color: var(--theme-main);
  transition: 0.3s ease;
}

.index-grid__col_1 {
  flex: 1 1 65%;
}

.index-grid__col_2 {
  flex: 1 1 32%;
  width: 30%;
  padding-bottom: 3px;
}

/*
@media (width <= 912px) {
    .index-grid-container {
        flex-direction: column;
    }

    .index-grid__col_1 {
        width: 100%;
        padding-right: 0;
    }

    .index-grid__col_2 {
        width: 100%;
        padding-left: 0;
    }
}*/
@media (width <= 768px) {
  .index-grid-container {
    flex-direction: column;
  }
  .index-grid__col_1 {
    width: 100%;
    padding-right: 0;
  }
  .index-grid__col_2 {
    width: 100%;
    padding-left: 0;
  }
}
/*
@media (min-width: 768px) {
    .index-grid-container { flex-direction: column; }
    .index-grid__col_1 { width: 100%; padding-right: 0; }
    .index-grid__col_2 { width: 100%; padding-left: 0;  }
}
*/
/*
375
@media (min-width: 768px)
@media (min-width: 992px)
@media (min-width: 1200px)
*/
/*
index-grid
index-grid-container
index-grid__col_1
index-grid__col_2

index-grid__video-container
index-grid__video-content

index-grid__swiper
index-grid__swiper-slide_text
*/
/* for index page */
.index-grid__swiper {
  width: 100%;
  height: 100%;
}

.index-grid__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-grid__swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-grid__swiper-slide_text {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  padding: 2px;
  color: white;
  padding: 4px 4px 4px 4px;
  color: white;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: 0.5s ease;
}

.index-grid__swiper-slide:hover .index-grid__swiper-slide_text {
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

@media (width <= 768px) {
  .index-grid__swiper {
    height: 350px;
  }
}
@media (width <= 576px) {
  .index-grid__swiper {
    height: 250px;
  }
}
@media (width <= 375px) {
  .index-grid__swiper {
    height: 140px;
  }
}
/* for index page */
.index-grid__video-container {
  position: relative;
}

#index-video {
  width: 100%;
}

.index-grid__video-content {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  bottom: 30px;
  left: 10px;
}
.index-grid__video-content h3 {
  padding: 2px;
  color: white;
}
.index-grid__video-content p {
  padding: 4px 2px 4px 2px;
  color: white;
}

@media (width <= 576px) {
  .index-grid__video-content {
    bottom: 5px;
    left: 2px;
  }
  .index-grid__video-content p {
    padding: 1px;
    font-size: 12px;
  }
  .index-grid__video-content h3 {
    padding: 1px;
    font-size: 15px;
  }
}
@media (width <= 375px) {
  .index-grid__video-content {
    display: none;
  }
}
/* index news */
/* for index page */
.index-news {
  transition: 0.3s ease;
}

.index-news__header h2 {
  background-color: var(--theme-second);
  transition: 0.3s ease;
}

/*
index-news
index-news__header

index-news__swiper-container
index-news__swiper
index-news__swiper-slide

index-news__card
index-news__card_content
index-news__card_img
index-news__card_title
index-news__card_text

index-news__button-prev
index-news__button-next
*/
/* for index page */
.index-news__swiper-container {
  position: relative;
  height: 300px;
  margin: 0;
}

.index-news__swiper {
  width: 100%;
  height: 100%;
}

.index-news__swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.index-news__swiper-slide_link:hover {
  opacity: 1;
}

.index-news__card_img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-news__card_content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  right: 10px;
  left: 10px;
  bottom: 10px;
  text-align: right;
  cursor: pointer;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.index-news__card_title {
  color: white;
  padding-right: 8px;
}

.index-news__card_text {
  color: white;
}

.index-news__swiper-slide:hover {
  opacity: 0.7;
  transition: 0.5s all;
}

.index-news__card_title {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

/*
index-news
index-news__header

index-news__swiper-container
index-news__swiper
index-news__swiper-slide

index-news__swiper-slide_link
index-news__card
index-news__card_content
index-news__card_img
index-news__card_title
index-news__card_text
*/
/* index hotels */
/* for index page */
.index-hotels {
  transition: 0.3s ease;
}

.index-hotels__header h2 {
  background-color: var(--theme-second);
  transition: 0.3s ease;
}

.index-hotels__swiper-container {
  position: relative;
  height: 230px;
  color: #000;
}

.index-hotels__swiper,
.index-food__swiper,
.index-look__swiper {
  width: 100%;
  height: 100%;
}

.index-hotels__swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-hotels__swiper-slide a {
  width: 100%;
  height: 100%;
}
.index-hotels__swiper-slide a:hover {
  opacity: 1;
}

/* card */
.index-hotel__card-wrap {
  height: 100%;
  position: relative;
}

.index-hotels__card {
  position: relative;
  width: 100%;
  height: 100%;
}
.index-hotels__card :hover {
  opacity: 0.5;
}

.index-hotels__card_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-hotels__card_content {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--theme-second);
  height: 48px;
  opacity: 0.95;
  display: flex;
  align-items: center;
  justify-content: center;
}

.index-hotels__card_title {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

/* buttons */
.index-news__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.next-prev {
  box-sizing: border-box;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.next-prev img {
  width: 100%;
  height: 100%;
}

.next-prev:hover img {
  opacity: 0.5;
}

.next-prev:active {
  background-color: #2196F3;
}

#keyboard-arrow-left, #keyboard-arrow-right {
  fill: var(--text-color);
}

/* news page */ /* for news page */
.news-path-container {
  background-color: var(--theme-second);
}

.news-path__list-item {
  display: inline;
}

.news-path__list-item span {
  font-family: "Merriweather";
  opacity: 0.7;
  color: var(--text-color);
}

.news-path__list-item span::before {
  content: "/";
  padding-right: 0.3rem;
}

/* for news page */
.news-filter__elem {
  display: flex;
  align-items: center;
}

.news-filter__elem span {
  margin: 20px;
}

.news-filter__datepicker_input {
  background-color: #4CAF50;
  color: white;
  font-family: "Rubik";
  width: 155px;
  height: 47px;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 18px;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .news-filter__elem {
    flex-direction: column;
    align-items: start;
  }
  .news-filter__elem span {
    display: none;
  }
  .news-filter__datepicker {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/* for news page */
.news-panel {
  background-color: var(--theme-second);
}

.news-card {
  display: flex;
  margin-bottom: 30px;
}

.news-card__img-wrap {
  flex-grow: 2;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.news-card__img-wrap .news-card__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-card__content {
  width: 70%;
  padding-left: 16px;
}

.news-card__header {
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
}

.news-card__header a {
  font-family: "Rubik";
}

.news-card__date {
  font-size: 20px;
  line-height: 32px;
  font-style: italic;
  font-weight: 100;
}

.news-card__description {
  text-overflow: ellipsis;
  text-align: justify;
}

.news-card__link_read-next {
  text-decoration: underline;
  font-family: "Rubik";
}

@media (max-width: 992px) {
  .news-card {
    flex-direction: column;
  }
  .news-card__content {
    width: 100%;
    padding-left: 0px;
  }
  .news-card__img-wrap {
    width: 100%;
  }
}
.news_card__header {
  margin-bottom: 20px;
}

.news_card__date h5 {
  font-style: italic;
  text-align: right;
}

.news_card__description {
  text-align: justify;
}

.news_card__img_wrap {
  width: 100%;
  max-height: 500px;
  margin: 20px 0;
}

.news_card__img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

/* for hotels page */
.hotels-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: stretch;
  gap: 10px;
}

.hotels-card-elem {
  height: 270px;
  position: relative;
  margin-top: 14px;
  cursor: pointer;
}
.hotels-card-elem .hotels-card-elem__img_wrap {
  transition: all 0.3s;
  filter: brightness(40%);
}

.hotels-card-elem:hover .hotels-card-elem__img_wrap {
  transition: all 0.3s;
  filter: brightness(100%);
}

.hotels-card-elem__img_wrap {
  height: 200px;
}
.hotels-card-elem__img_wrap .hotels-card-elem__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.hotels-card-elem__img_wrap a:hover {
  opacity: 1;
}

.hotels-card-elem__type {
  position: absolute;
  background-color: #ff931e;
  top: 25px;
  padding: 6px;
  border-radius: 0 4px 4px 0;
}
.hotels-card-elem__type p {
  color: white;
}

.hotels-card-elem__price {
  position: absolute;
  background-color: #ff931e;
  bottom: 70px;
  right: 0;
  padding: 2px;
  border-radius: 0 0px 0px 0;
}
.hotels-card-elem__price p {
  color: white;
}

.hotels-card-elem__header_wrap .hotels-card-elem__header {
  font-size: 20px;
  line-height: 24px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

@media (width <= 1265px) {
  .hotels-cards-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (width <= 865px) {
  .hotels-cards-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (width <= 524px) {
  .hotels-cards-container {
    grid-template-columns: 1fr;
  }
}
/* for hotels page */
.hotels-filters-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.hotels-form {
  display: flex;
}

.hotels-form__select {
  padding: 0 16px;
  min-width: 170px;
  height: 47px;
  font-family: "Rubik";
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  margin: 2px 0;
}
.btn-hotels {
  background: #4CAF50;
  transition: all 0.2s linear;
  padding: 0px 20px;
  height: 36px;
  font-family: "Rubik";
  border-radius: 4px;
}

.btn-hotels:hover {
  opacity: 0.7;
}

@media (width <= 865px) {
  .hotels-filters-container {
    flex-direction: column;
  }
  .hotels-filters__options {
    width: 100%;
  }
  .hotels-form div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hotels-form__button_wrap {
    display: flex;
  }
}
/* for hotels page */
.hotels-path-container {
  background-color: var(--theme-second);
}

.hotels-path__list-item {
  display: inline;
}

.hotels-path__list-item span {
  font-family: "Merriweather";
  opacity: 0.7;
  color: var(--text-color);
}

.hotels-path__list-item span::before {
  content: "/";
  padding-right: 0.3rem;
}

/* for index page */
.hotels-modal {
  display: none;
}

.hotels-modal-container {
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.hotels-modal__content {
  background-color: #fefefe;
  margin: 150px auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.hotels-modal__close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  font-family: "Merriweather";
}

.hotels-modal__close:hover,
.hotels-modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#HotelsMap {
  width: 100%;
  height: 500px;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--theme-main);
}/*# sourceMappingURL=main.css.map */