@import "swiper-bundle.min.css";
:root {
  --theme-main: #f3f4f6;
  --theme-second: #e0e0e0;
  --theme-third: #f3f4f6;
  --theme-fourth: #a1c2ff;
  --theme-background: #fff;
  --text-color: #000;
}

:root[data-theme=dark] {
  --theme-main: #111111;
  --theme-second: #333333;
  --theme-third: #222222;
  --theme-fourth: #38c2ac;
  --theme-background: #000;
  --text-color: #fff;
}

/*.vvv {
    a: #2196F3
#FFC107
#4CAF50
#FF9800
#E91E63
#FFFFFF
#9E9E9E
}
*/
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Bold.eot");
  src: local("Rubik Bold"), local("Rubik-Bold"), url("../fonts/Rubik-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff"), url("../fonts/Rubik-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Medium.eot");
  src: local("Rubik Medium"), local("Rubik-Medium"), url("../fonts/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff"), url("../fonts/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Regular.eot");
  src: local("Rubik Regular"), local("Rubik-Regular"), url("../fonts/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff"), url("../fonts/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Rubik";
  src: url("../fonts/Rubik-Light.eot");
  src: local("Rubik Light"), local("Rubik-Light"), url("../fonts/Rubik-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff"), url("../fonts/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-BoldItalic.eot");
  src: local("Merriweather Bold Italic"), local("Merriweather-BoldItalic"), url("../fonts/Merriweather-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-BoldItalic.woff") format("woff"), url("../fonts/Merriweather-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Italic.eot");
  src: local("Merriweather Italic"), local("Merriweather-Italic"), url("../fonts/Merriweather-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Italic.woff") format("woff"), url("../fonts/Merriweather-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Regular.eot");
  src: local("Merriweather Regular"), local("Merriweather-Regular"), url("../fonts/Merriweather-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Regular.woff") format("woff"), url("../fonts/Merriweather-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather-Bold.eot");
  src: local("Merriweather Bold"), local("Merriweather-Bold"), url("../fonts/Merriweather-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Merriweather-Bold.woff") format("woff"), url("../fonts/Merriweather-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  font-family: "Merriweather";
  color: var(--text-color);
}

a:hover {
  opacity: 0.5;
}

.button {
  box-shadow: none;
  border: 2px solid #007aff;
  border-radius: 4px;
  font-family: "Rubik";
  width: 150px;
  height: 48px;
  padding: 3px 8px;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
  background: black;
  color: #007aff;
}

.button:active {
  color: rgb(255, 255, 255);
  border-color: #38c2ac;
  background-image: linear-gradient(#38c2ac, #6aa2ce);
  box-shadow: none;
}

.btn {
  border: none; /* Remove borders */
  color: white; /* Add a text color */
  padding: 14px 28px; /* Add some padding */
  cursor: pointer; /* Add a pointer cursor on mouse-over */
}

.success {
  background-color: #04AA6D;
} /* Green */
.success:hover {
  background-color: #46a049;
}

.info {
  background-color: #2196F3;
} /* Blue */
.info:hover {
  background: #0b7dda;
}

.warning {
  background-color: #ff9800;
} /* Orange */
.warning:hover {
  background: #e68a00;
}

.danger {
  background-color: #f44336;
} /* Red */
.danger:hover {
  background: #da190b;
}

.default {
  background-color: #e7e7e7;
  color: black;
} /* Gray */
.default:hover {
  background: #ddd;
}

h1, h2, h3, h4, h5 {
  font-family: "Rubik";
  color: var(--text-color);
}

h1 {
  font-size: 48px;
  line-height: 56px;
}

h2 {
  font-size: 40px;
  line-height: 48px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
}

h4 {
  font-size: 24px;
  line-height: 32px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
}

p {
  font-family: "Merriweather";
  font-size: 16px;
  line-height: 20px;
  color: var(--text-color);
}

ul > li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.aboutus {
  background-color: #222222;
}

.carusel-map {
  display: flex;
  flex-wrap: wrap;
}

.contactus {
  background-color: #333333;
}

.contactus-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content-block__container {
  display: flex;
}

.content-block__description {
  flex: 0 0 66.66%;
  box-sizing: border-box;
  background-color: black;
}

.content-block__info {
  flex: 0 0 33.33%;
  box-sizing: border-box;
  background-color: black;
}

@media (width <= 576px) {
  .content-block__container {
    display: block;
  }
}
.filter-form {
  background-color: #333333;
}

select {
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: "Rubik";
}

/*.filter-output {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: flex-start;
}
*/
.filter-output {
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
}

.footer-container > div {
  flex: 1 1 auto;
}

.footer {
  background-color: #38c2ac;
}

.gallery {
  background-color: #333333;
}

.gallery-carousel {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  height: 100%;
}

.gallery-carousel__item1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
}

.gallery-carousel__item2 {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
}

.gallery-carousel__item3 {
  grid-row-start: 1;
  grid-column-start: 3;
  grid-row-end: 2;
  grid-column-end: 4;
}

.gallery-carousel__item4 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}

.gallery-carousel__item5 {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}

.gallery-carousel__item6 {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
}

/* for header in all pages */
.header-container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: var(--theme-main);
  transition: 0.3s ease;
}

.header-button__wrap {
  width: 100px;
  text-align: right;
}

.header {
  display: flex;
  align-items: center;
  height: 150px;
  background-color: var(--theme-main);
  transition: 0.3s ease;
}

.location {
  background-color: #222222;
}

.location-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-title {
  background-image: url("../img/chapel.png");
  background-position: center center;
  background-size: cover;
  height: 484px;
  position: relative;
  display: flex;
}

.main-title__blur {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.main-title__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  position: relative;
  max-width: 768px;
  margin-right: 63px;
  margin-left: 63px;
}

.reviews {
  background-color: #222222;
}

.services-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services {
  background-color: #333333;
}

.socials__list {
  display: flex;
  align-items: center;
}

.special-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
}

.button-search {
  background-color: #f9a03e;
  color: rgb(0, 0, 0);
  border-color: #f9a03e;
}

.button-mode {
  border-radius: 50%;
  background-color: var(--theme-main);
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.button-mode img {
  width: 100%;
  height: 100%;
}

.button-primary {
  background-color: #f9a03e;
  color: rgb(0, 0, 0);
  border-color: #f9a03e;
}

.carusel {
  flex: 0 0 66.66%;
  box-sizing: border-box;
  height: 400px;
  width: 66.66%;
}

@media (width <= 576px) {
  .carusel {
    flex: 0 0 100%;
    width: 100%;
  }
}
.filter-item {
  width: 386px;
  min-height: 300px;
  /* todo */
  margin: 10px 10px 10px 0;
}

.filter-item__container {
  position: relative;
  margin: 0 auto;
  transition: 0.5s ease;
  cursor: pointer;
}

.filter-item__container:hover {
  opacity: 0.7;
}

.filter-item__img {
  width: 100%;
}

.filter-item__content {
  position: absolute;
  bottom: 20px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
}

.filter-item__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

.filter-item__price {
  flex: 0 0 30%;
  text-align: end;
}

.gallery-carousel > div {
  width: 298px;
  height: 168px;
}

.gallery-carousel > div span img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

/* for header in all pages */
.header-nav li {
  display: inline;
  margin: 10px;
}

.header-nav__link {
  font-family: "Rubik";
}

/* for header in all pages */
.logo__wrap {
  height: 100px;
  width: 100px;
}

.logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.map {
  flex: 0 0 33.3%;
  box-sizing: border-box;
  height: 400px;
}

@media (width <= 576px) {
  .map {
    flex: 0 0 100%;
    width: 100%;
  }
}
.news-item-container {
  height: 300px;
  background-color: black;
}

.news-item {
  display: flex;
}

.news-item__img {
  flex: 1 1 25%;
  text-align: center;
  overflow: hidden;
}

.news-item__img img {
  width: 100%;
  height: 100%;
}

.news-item__text {
  flex: 1 1 74%;
}
.news-item__text p {
  overflow: hidden;
  text-overflow: ellipsis;
}

.services-container__item {
  width: 298px;
  height: 419px;
}

.services-container__imgwrap {
  width: 298px;
  height: 198px;
}

.services-container__img {
  width: 100%;
  height: 100%;
}

.services-container__txtwrap > h4 {
  font-size: 24px;
}

.services-container__txtwrap > p {
  font-size: 16px;
}

.socials__list-item {
  width: 32px;
  height: 32px;
  margin-right: 2px;
}

.socials__list-item:hover {
  opacity: 0.5;
  cursor: pointer;
}

.socials__list-item img {
  width: 100%;
  height: 100%;
}

.special-item {
  width: 30px;
  height: 30px;
}

.special-item__img {
  width: 100%;
  height: 100%;
}

.background-blue {
  background-color: blue;
}

.background-lblue {
  background-color: #009bdc;
}

.m-2 {
  margin: 2px;
}

.m-t-2 {
  margin-top: 2px;
}

.m-l-2 {
  margin-left: 2px;
}

.m-r-2 {
  margin-right: 2px;
}

.m-b-2 {
  margin-bottom: 2px;
}

.m-16 {
  margin: 16px;
}

.m-t-16 {
  margin-top: 16px;
}

.m-b-16 {
  margin-bottom: 16px;
}

.m-20 {
  margin: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-63 {
  margin: 63px;
}

.m-t-63 {
  margin-top: 63px;
}

.m-l-63 {
  margin-left: 63px;
}

.m-r-63 {
  margin-right: 63px;
}

.m-b-63 {
  margin-bottom: 63px;
}

.p-2 {
  padding: 2px;
}

.p-t-2 {
  padding-top: 2px;
}

.p-l-2 {
  padding-left: 2px;
}

.p-r-2 {
  padding-right: 2px;
}

.p-b-2 {
  padding-bottom: 2px;
}

.p-10 {
  padding: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-12 {
  padding: 12px;
}

.p-t-12 {
  padding-top: 12px;
}

.p-l-12 {
  padding-left: 12px;
}

.p-r-12 {
  padding-right: 12px;
}

.p-b-12 {
  padding-bottom: 12px;
}

.p-20 {
  padding: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-63 {
  padding: 63px;
}

.p-t-63 {
  padding-top: 63px;
}

.p-l-63 {
  padding-left: 63px;
}

.p-r-63 {
  padding-right: 63px;
}

.p-b-63 {
  padding-bottom: 63px;
}

.text-color-white {
  color: #fff;
}

.text-color-black {
  color: #000;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* pages */
/* index head */ /* for index page */
.index-grid {
  background-color: var(--theme-main);
  transition: 0.3s ease;
}

.index-grid-container {
  display: flex;
  background-color: var(--theme-main);
  transition: 0.3s ease;
}

.index-grid__col_1 {
  flex: 1 1 65%;
}

.index-grid__col_2 {
  flex: 1 1 32%;
  width: 30%;
  padding-bottom: 3px;
}

/*
index-grid
index-grid-container
index-grid__col_1
index-grid__col_2

index-grid__video-container
index-grid__video-content

index-grid__swiper
index-grid__swiper-slide_text
*/
/* for index page */
.index-grid__swiper {
  width: 100%;
  height: 100%;
}

.index-grid__swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-grid__swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-grid__swiper-slide_text {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  padding: 2px;
  color: white;
  padding: 4px 4px 4px 4px;
  color: white;
  top: 10px;
  right: 10px;
  opacity: 0;
  transition: 0.5s ease;
}

.index-grid__swiper-slide:hover .index-grid__swiper-slide_text {
  opacity: 1;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}

/* for index page */
.index-grid__video-container {
  position: relative;
}

#index-video {
  width: 100%;
}

.index-grid__video-content {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  bottom: 30px;
  left: 10px;
}
.index-grid__video-content h3 {
  padding: 2px;
  color: white;
}
.index-grid__video-content p {
  padding: 4px 2px 4px 2px;
  color: white;
}

/* index news */
/* for index page */
.index-news {
  transition: 0.3s ease;
}

.index-news__header h2 {
  background-color: var(--theme-second);
  transition: 0.3s ease;
}

/*
index-news
index-news__header

index-news__swiper-container
index-news__swiper
index-news__swiper-slide

index-news__card
index-news__card_content
index-news__card_img
index-news__card_title
index-news__card_text

index-news__button-prev
index-news__button-next
*/
/* for index page */
.index-news__swiper-container {
  position: relative;
  height: 300px;
  margin: 0;
}

.index-news__swiper {
  width: 100%;
  height: 100%;
}

.index-news__swiper-slide {
  text-align: center;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.index-news__card_img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.index-news__card_content {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  right: 10px;
  left: 10px;
  bottom: 10px;
  text-align: right;
  cursor: pointer;
}

.index-news__card_title {
  color: white;
}

.index-news__card_text {
  color: white;
}

.index-news__swiper-slide:hover {
  opacity: 0.7;
  transition: 0.5s all;
}

/*
index-news
index-news__header

index-news__swiper-container
index-news__swiper
index-news__swiper-slide

index-news__card
index-news__card_content
index-news__card_img
index-news__card_title
index-news__card_text
*/
/* index hotels */
/* for index page */
.index-hotels__swiper-container {
  position: relative;
  height: 100%;
  background: #eee;
  color: #000;
  margin: 0;
  padding: 0;
}

.index-hotels__swiper {
  width: 100%;
  height: 100%;
}

.index-hotels__swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*
index-hotels
  index-hotels__header
  index-hotels__swiper-container
    index-hotels__swiper
      swiper-wrapper
        index-hotels__swiper-slide
          index-hotels__card
            index-hotels__card_img
          index-hotels__card_content
            index-hotels__card_title
*/
/* buttons */
.index-news__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.next-prev {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
}

.next-prev:hover {
  background-color: #ddd;
  color: black;
}

.index-news__button-prev {
  background-color: #f1f1f1;
  color: black;
}

.index-news__button-next {
  background-color: #f1f1f1;
  color: black;
}

/* modal */
/* for index page */
.index-modal-container {
  display: none;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.index-modal__content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.index-modal__close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.index-modal__close:hover, .index-modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* for news page */
.news-path-container {
  background-color: var(--theme-second);
}

.news-path__list-item {
  display: inline;
}

.news-path__list-item span {
  font-family: "Merriweather";
  opacity: 0.7;
  color: var(--text-color);
}

.news-path__list-item span::before {
  content: "/";
  padding-right: 0.3rem;
}

/*
section.news-path
  div.news-path-container
    ul.news-path__list
      li.news-path__list-item
        a.news-path__link

*/
/* for news page */
.news-filter__elem {
  display: flex;
  align-items: center;
}

.news-filter__elem span {
  margin: 20px;
}

.news-filter__datepicker_input {
  background-color: #4CAF50;
  color: white;
  font-family: "Rubik";
  width: 155px;
  height: 47px;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 18px;
  padding: 0 16px;
}

/*
section.news-filter
  div.news-filter__elem
    div.news-filter__datepicker
      input.news-filter__datepicker_input
*/
/* for news page */
.news-panel {
  background-color: var(--theme-second);
}

.news-card {
  display: flex;
  margin-bottom: 30px;
}

.news-card__img-wrap {
  flex-grow: 2;
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.news-card__img-wrap .news-card__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-card__content {
  width: 70%;
  padding-left: 16px;
}

.news-card__header {
  font-size: 30px;
  line-height: 32px;
  font-weight: 500;
}

.news-card__header a {
  font-family: "Rubik";
}

.news-card__date {
  font-size: 20px;
  line-height: 32px;
  font-style: italic;
  font-weight: 100;
}

/*
section.news-panel
  div.news-panel-container
    div.news-card
      div.news-card__img-wrap
        img.news-card__img
      div.news-card__content
        h3.news-card__header
        h4.news-card__date
        p.news-card__description




*/
/* for news page */
body {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--theme-main);
}/*# sourceMappingURL=main.css.map */